#creative {
  font-family: 'Lato', sans-serif;
  h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 8px;
    font-weight: 900;
  }

  h2 {
    font-size: 3rem;
    line-height: 1;
  }
  p,
  i,
  a {
    /* margin-top: 21px; */
    /* font-family: "Lora"; */
    font-size: 1.2rem;
    letter-spacing: -0.03px;
    line-height: 1.5;
  }
  a {
    color: rgb(var(--accent));
    text-decoration: none;
  }

  blockquote {
    margin: 20px 0px;
    padding: 2rem 1rem;
    line-height: 1.1;
    position: relative;
  }
  blockquote p {
    line-height: 1.3;
  }

  blockquote:before {
    content: '';
    display: inline-block;
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 35%;
    bottom: auto;
    left: 35%;
    height: 3px;
    background-color: rgba(227, 225, 223, 0.9);
  }
  blockquote:after {
    content: '';
    display: inline-block;
    z-index: 2;
    position: absolute;
    top: auto;
    right: 35%;
    bottom: 0px;
    left: 35%;
    height: 3px;
    background-color: rgba(227, 225, 223, 0.9);
  }

  blockquote p {
    margin: 0px;
    font-family: 'Niconne', cursive;
    font-size: 2.5rem;
  }
}
[data-id='image-focussed'] {
  outline: 2px solid #d932c0;
}

hr {
  border: 1px solid rgb(var(--color-border));
}

.mce-edit-focus {
  outline: none;
}
.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
  color: rgba(var(--color), 0.3);
  font-size: 1.2rem;
  cursor: text;
  min-width: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks):focus::before {
  color: transparent;
}

.mce-content-body {
  width: 100%;
}

.mce-content-body:not([dir='rtl'])[data-mce-placeholder]:not(.mce-visualblocks)::before {
  left: initial;
}
.mce-content-body [data-mce-selected='inline-boundary'] {
  background-color: transparent;
}
