header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: content;
}

aside {
    grid-area: side;
}

.two-column {
    &.main {
        display: grid;
        grid-template-areas:
            "header header header"
            "nav content side"
            "footer footer footer";
        grid-template-columns: 250px 1fr 400px;
        grid-template-rows: auto 1fr auto;
        grid-gap: 16px;
        height: 100vh;

        aside {
            margin-right: 16px;
        }
    }

    @media (max-width: 991px) {
        &.main {
            grid-template-areas:
                "header"
                "nav"
                "content"
                "side"
                "footer";

            grid-template-columns: 1fr;
            grid-template-rows:
                auto
                minmax(75px, auto)
                1fr
                minmax(75px, auto)
                auto; /* Footer */
            margin-top: -16px;
            main {
                margin: 0 16px;
            }
        }

        aside {
            display: none;
        }
    }
}
