/*!------------------------------------------------------------------
[Tabs]
*/

.nav-tabs {
    border-color: #eee;
}

.nav-tabs > li > a {
    font-weight: 400;
    font-size: 13px;
    color: #111;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border-color: #eee;
    border-bottom: 1px solid transparent;
    color: #111;
}

.tab-content {
    padding: 15px 0;
}
