@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700.css");
@import "./variables.scss";
@import "./login.scss";
@import "./common.scss";
@import "./react-select.scss";
.form-control {
    text-transform: none !important;
}

label.custom-label {
    font-weight: 500;
    font-size: 13px;
}


/* Navbar */


/* Tell Quill not to scroll */

#editor {
    height: auto;
    min-height: 300px;
    padding: 0px;
    border: none;
    font-family: inherit;
}

#editor .ql-editor {
    overflow-y: visible;
    padding: 12px 0px;
    min-height: 280px;
}

.quill-container {
    font-size: 14px;
}

#quill-container .ql-toolbar {
    opacity: 0.2;
}

#quill-container .ql-toolbar:hover {
    opacity: 1;
}


/* Specify our own scrolling container */

#quill-container {
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
}


/* Publish buttons */

.btn-group-justified .btn-item {
    padding-left: 2px;
    padding-right: 2px;
}


/* Tags Input */

div.ReactTags__tags {
    position: relative;
}


/* Styles for the input */

div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: block;
}

div.ReactTags__tagInput input,
div.ReactTags__tagInput input:focus {
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: none;
    padding: 8px 0px 10px;
    display: block;
}


/* Styles for selected tags */

div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 0px 8px;
    margin-right: 4px;
    cursor: move;
    border-radius: 2px;
}

div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
}


/* Styles for suggestions */

div.ReactTags__suggestions {
    position: absolute;
    z-index: 10;
}

div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
    background: white;
    width: 220px;
    padding: 0;
    margin: 0;
}

div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    margin: 0;
}

div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}

div.ReactTags__suggestions ul li.active {
    background: #b7cfe0;
    cursor: pointer;
}


/* Tags input end */


/*Theme customization*/

.theme-customizer {
    .swatch {
        padding: 5px;
        background: #fff;
        border-radius: 1px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
        display: block;
        cursor: pointer;
    }
    .popover {
        position: absolute;
        z-index: 2;
    }
    .cover {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
}


/* Table */

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 12px 8px;
    border-top: none;
}

.table th {
    color: $font_body_dark;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

tr td:first-child,
tr th:first-child {
    padding-left: 0px !important;
}


/*Media*/

.table.media-table {
    td {
        vertical-align: middle;
    }
    .media-image {
        object-fit: cover;
        width: 80px;
        height: 80px;
    }
}


/*!------------------------------------------------------------------
[Post Filters]
*/

.post-filters {
    text-transform: uppercase;
    font-size: 12px;
    color: #afafaf;
    .filter-item:not(:last-child):after {
        content: "|";
        margin: 0px 10px;
        color: #afafaf;
    }
    .filter-item {
        transition: 0.3s all linear;
        cursor: pointer;
        &.active {
            font-weight: 600;
            color: $font_body_dark;
        }
    }
}