@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700.css");
@import "./variables.scss";
@import "./login.scss";
@import "./common.scss";
@import "./react-select.scss";
label.custom-label {
    font-weight: 500;
    font-size: 13px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(36vw, 1fr));
    grid-gap: 26px;
    grid-auto-rows: minmax(203px, auto);
    grid-auto-flow: dense;
}
.post-grid .post {
    margin-bottom: 0px;
    box-shadow: -2px 2px 14px -2px #ccc;
}
.media-grid .post {
    .post-header {
        margin: 0px;
        font-size: 12px;
    }
    .post-time {
        font-size: 11px;
    }
    .post-body {
        padding: 4px 8px;
        border: 1px solid #eee;
        .post-content {
            display: flex;
            justify-content: space-between;
        }
    }
}
/*--------------------------------------
[TopBar]
*/

.top-bar {
    display: flex;
    justify-content: space-between;
    background: $color-bg-secondary;
}

/*--------------------------------------
[Edit/Create Post or Page]
*/
.post-excerpt {
    display: block;
    height: 80px;
}
.featured-image {
    .btn {
        margin-top: -50px;
    }
    margin: -20px;
}
/* Tell Quill not to scroll */

#editor {
    height: auto;
    min-height: 300px;
    padding: 0px;
    border: none;
    font-family: inherit;
}

#editor .ql-editor {
    overflow-y: visible;
    padding: 12px 0px;
    min-height: 280px;
}

.ql-container {
    font-size: 14px;
}

#quill-container .ql-toolbar {
    opacity: 0.2;
}

#quill-container .ql-toolbar:hover {
    opacity: 1;
}

/* Specify our own scrolling container */

#quill-container {
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
}

/* Publish buttons */

.btn-group-justified .btn-item {
    padding-left: 2px;
    padding-right: 2px;
}

/* Tags Input */

div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */

div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: block;
}

div.ReactTags__tagInput input,
div.ReactTags__tagInput input:focus {
    margin: 0;
    width: 100%;
    border: none;
    padding: 8px 0px 10px;
    display: block;
}

/* Styles for selected tags */

div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 0px 8px;
    margin-right: 4px;
    cursor: move;
    border-radius: 2px;
}

div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* Styles for suggestions */

div.ReactTags__suggestions {
    position: absolute;
    z-index: 10;
}

div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
    background: white;
    width: 220px;
    padding: 0;
    margin: 0;
}

div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 8px 4px;
    margin: 0;
}

div.ReactTags__suggestions li mark {
    padding: 0 0 0 0.4em;
    background: transparent;
}

li.ReactTags__activeSuggestion {
    background: #eaeaea;
    cursor: pointer;
}

/* Tags input end */

/*Theme customization*/

.theme-customizer {
    .swatch {
        padding: 5px;
        background: #fff;
        border-radius: 1px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
        display: block;
        cursor: pointer;
    }
    .popover {
        position: absolute;
        z-index: 2;
    }
    .cover {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
}

/* Table */

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 12px 8px;
    border-top: none;
}

.table > thead tr > th {
    color: $color-text-secondary;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}

tr td:first-child,
tr th:first-child {
    padding-left: 0px !important;
}

/*Media*/

.table.media-table {
    td {
        vertical-align: middle;
    }
    .media-image {
        object-fit: cover;
        width: 80px;
        height: 80px;
    }
}

/*!------------------------------------------------------------------
[Post Filters]
*/

.post-filters {
    text-transform: uppercase;
    font-size: 12px;
    color: #afafaf;
    .filter-item:not(:last-child):after {
        content: "|";
        margin: 0px 10px;
        color: #afafaf;
    }
    .filter-item {
        transition: 0.3s all linear;
        cursor: pointer;
        &.active {
            font-weight: 600;
            color: $color-text-secondary;
        }
    }
}

.navbar-custom {
    .nav-list li a {
        text-decoration: none;
        display: block;
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid #2d2d2d !important;
        color: $color-menu-link;
        border-left: 4px solid transparent;
    }
    .nav-list li.active a {
        border-left: 4px solid $color-accent;
    }
    .nav-list > li > a {
        color: $color-menu-link;
        font-size: 14px;
        padding-left: 13px !important;
        border-bottom: 1px solid #2e2e2e;
    }
    .nav-list > li a:hover {
        border-left: 4px solid $color-accent;
    }
    .nav-list a span {
        margin-left: 20px;
    }
    .nav-list .menu-icon {
        margin-top: 4px;
    }
    .nav-list li.has-sub li a {
        padding-left: 34px !important;
    }
}

/*----------------------------------------------
[Themes]
*/

#cp-css {
    .cp-swatch {
        padding: 5px;
        background: #fff;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
        display: inline-block;
        cursor: pointer;
        .color-box {
            width: 26px;
            height: 14px;
        }
    }
    .cp-popover {
        position: absolute;
        z-index: 2;
    }
    .cp-cover {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
}

/*--------------------------------------------
[Themes]
*/

.color-blocks {
    .custom-label {
        display: flex;
        justify-content: space-between;
    }
    .text-muted {
        line-height: 20px;
        font-size: 12px;
        min-height: 42px;
    }
}

/*--------------------------------------------
[Menu Construction]
*/
.listing i.fa {
    margin-right: 8px;
    color: $color-text-primary-light;
}

/*--------------------------------------------
[Menu Construction]
*/

.nestable-item-name {
    .panel-heading {
        background: #eee;
        border: 1px solid #ddd;
        padding: 12px 16px;
        cursor: pointer;
    }
    .panel-collapse {
        border: 1px solid #eee;
        border-top: none;
    }
}

.nestable-item-handler {
    &:before {
        content: "\F0C9";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #000;
        padding-right: 0.5em;
        cursor: move;
    }
}

.menu-construct {
    h5 {
        margin-bottom: 8px;
        font-size: 12px;
    }
    .resources {
        &.list-group {
            border: 1px solid #e6e5e5;
            max-height: 200px;
            overflow-y: scroll;
            box-shadow: 0 0 10px 0 #f0f0f0;
            width: 300px;
            .list-group-item {
                border-left: none;
                border-right: none;
                cursor: pointer;
                &[disabled] {
                    background: #eee;
                    cursor: not-allowed;
                    color: #919191;
                }
                &:first-child {
                    border-top: none;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}
