/*! -----------------------------------------------------------------
[Master Stylesheet for Client]

Project:     Ajaxtown
Version:     1.0
Last change: 21/03/2017
Primary use: Blog

------------------------------------------------------------------
[Sidebar Styles]
*/

@import "../css/bootstrap.min.css";
@import "../css/vertical.css";
@import "../css/font-awesome.min.css";
@import "./common.scss";
@import "./client/_layout.scss";
@import "./client/_navbar.scss";
@import "./client/_widgets.scss";
@import "./common/_card.scss";
@import "./common/_tags.scss";
@import "./common/_sidebar.scss";
@import "./common/_navbar.scss";
@import "./common/_post.scss";

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
