/*! -----------------------------------------------------------------
[Master Stylesheet for Client]

Project:     Ajaxtown
Version:     1.0
Last change: 21/03/2017
Primary use: Blog

------------------------------------------------------------------
[Sidebar Styles]
*/

@import "../css/bootstrap.min.css";
@import "../css/vertical.css";
@import "../css/font-awesome.min.css";
@import "./common.scss";
h3.widget-title {
    font-size: 14px;
}

h3.widget-title:before {
    content: "";
    border-left: 2px solid #333;
    margin-right: 5px;
}
ul {
    padding-left: 0px;
    list-style: none;
}
ul.nav {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1px;
}
.navbar-custom {
    .nav-list li a {
        text-decoration: none;
        display: block;
        padding: 10px;
        cursor: pointer;
        // border-bottom: 1px solid #2d2d2d !important;
        color: $color-menu-link;
        // border-left: 4px solid transparent;
    }
    .nav-list li.active a {
        // border-left: 4px solid $color-accent;
    }
    .nav-list > li > a {
        color: $color-menu-link;
        padding-left: 13px !important;
        // border-bottom: 1px solid #2e2e2e;
    }
    .nav-list > li a:hover {
        border-left: 0px solid $color-accent;
    }
    .nav-list a span {
        margin-left: 20px;
    }
    .nav-list .menu-icon {
        margin-top: 4px;
    }
    .nav-list li.has-sub li a {
        padding-left: 34px !important;
    }
    .nav-list li.has-sub {
        &.open > a:after {
            content: "\f068";
        }
        > a:after {
            content: "\f067";
            position: relative;
            font-family: "FontAwesome";
            float: right;
            margin-right: 16px;
        }
    }
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: content;
}

aside {
    grid-area: side;
}

.centered {
    &.main {
        display: grid;
        grid-template-areas:
            "nav nav nav nav nav"
            " . content content side ."
            "footer footer footer footer footer";
        grid-template-columns: 2fr repeat(3, minmax(auto, 368px)) 2fr;
        grid-template-rows: auto 1fr auto;
        grid-gap: 16px;
        height: 100vh;

        nav .sidebar {
            position: relative;
            width: auto;
        }
    }

    @media (max-width: 991px) {
        &.main {
            grid-template-areas:
                "nav"
                "content"
                "side"
                "footer";

            grid-template-columns: 1fr;
            grid-template-rows:
                auto
                minmax(75px, auto)
                1fr
                minmax(75px, auto)
                auto; /* Footer */
            margin-top: -16px;
            main {
                margin: 0 16px;
            }
        }

        aside {
            display: none;
        }
    }
}
.two-column {
    &.main {
        display: grid;
        grid-template-areas:
            "header header header"
            "nav content side"
            "footer footer footer";

        grid-template-columns: 250px 1fr 400px;
        grid-template-rows: auto 1fr auto;
        grid-gap: 16px;
        height: 100vh;

        aside {
            margin-right: 16px;
        }
    }

    @media (max-width: 991px) {
        &.main {
            grid-template-areas:
                "header"
                "nav"
                "content"
                "side"
                "footer";

            grid-template-columns: 1fr;
            grid-template-rows:
                auto
                minmax(75px, auto)
                1fr
                minmax(75px, auto)
                auto; /* Footer */
            margin-top: -16px;
            main {
                margin: 0 16px;
            }
        }

        aside {
            display: none;
        }
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
