@import url("https://fonts.googleapis.com/css?family=Racing+Sans+One");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700");
@import "./variables.scss";
@import "./layout.scss";
@import "./sidebar.scss";

/*! -----------------------------------------------------------------
[Master Stylesheet]

Project:     Ajaxtown
Version:     1.0
Last change: 21/03/2017
Primary use: Blog

------------------------------------------------------------------
[General Styles]
*/

html {
    height: 100%;
}

body {
    background: $color-bg-primary;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 400;
    color: $color-text-primary;
    -ms-overflow-style: scrollbar;
    overflow-x: hidden;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    border: 0;
}

[contenteditable="true"]:empty:before {
    content: attr(placeholder);
    display: block;
    /* For Firefox */
}

input,
textarea,
[contenteditable="true"]:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: $color-text-weak !important;
    font-weight: 300;
}

.top-head {
    display: none;
}

.home .top-head {
    display: block;
}

.container-fluid {
    padding: 0 24px;
}

.pointer {
    cursor: pointer;
}

.fa {
    position: relative;
}


/*!------------------------------------------------------------------
[Typography]
*/

a {
    color: $link_active;
    -webkit-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
    -moz-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
    -o-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
    transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: $link_hover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    color: #111;
    margin: 0 0 20px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p,
ul,
ol {
    margin: 0 0 30px;
}

pre {
    border: 0;
    line-height: 1.9;
    font-size: 12px;
    padding: 35px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

blockquote {
    border: 0;
    font-family: Georgia, sans-serif;
    text-align: center;
    font-style: italic;
    font-size: 28px;
    color: #111;
    padding: 0;
    margin: 0;
}

blockquote:before {
    display: block;
    content: "\f10d";
    margin: 0 0 30px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    color: #bbb;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    opacity: 0.3;
}

blockquote cite {
    display: block;
    font-size: 17px;
    color: #bbb;
    margin: 30px 0;
}

.lead {
    line-height: 1.8;
    font-size: 18px;
}

.font-alt {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.font-serif {
    font-family: Georgia, sans-serif;
    font-style: italic;
}

.text-light {
    color: #fff !important;
}

.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6 {
    color: #fff !important;
}

.text-light a {
    color: rgba(255, 255, 255, 0.7);
}

.text-light a:hover {
    color: #fff;
}

.brand {
    font-family: $racing_font;
}


/*!------------------------------------------------------------------
[Preloader]
*/

.page-loader {
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9998;
}

.loader {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    text-indent: -9999em;
    background-color: transparent;
    border: 5px solid #eceff1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.loader:after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    padding: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: #111 transparent transparent transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    animation: ringrotate 0.8s infinite cubic-bezier(0.5, 0.49, 0.49, 0.49);
    -webkit-animation: ringrotate 0.8s infinite cubic-bezier(0.5, 0.49, 0.49, 0.49);
}

@keyframes ringrotate {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes ringrotate {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}


/*!------------------------------------------------------------------
[Forms]
*/

.form-control {
    border: 0;
    height: 36px;
    padding: 13px 0px;
    font-size: 13px;
    border-bottom: 1px solid $color-border;
    text-transform: uppercase;
    color: $color-text-secondary-light;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    transition: 0.3s border-color linear;
}

.form-control[disabled] {
    background: transparent;
    color: $color-text-primary-light;
}

.form-control:focus {
    box-shadow: 0px 1px 0px 0px #66afe9;
}

.comments-form .control-label {
    font-weight: 400;
    font-size: 12px;
    color: #bbb;
}

@media (min-width: 768px) {
    .comments-form .control-label {
        padding-top: 12px;
    }
}


/*!------------------------------------------------------------------
[Buttons]
*/

.btn {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 11px;
    padding: 9px 28px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 0;
}

.btn-dark,
.btn-dark:focus {
    background: rgba(17, 17, 17, 1);
    color: #fff;
}

.btn-dark:hover {
    background: rgba(17, 17, 17, 0.8);
    color: #fff;
}

.btn-blue,
.btn-blue:focus {
    background: $link_active;
    color: #fff;
}

.btn-blue:hover {
    background: $link_hover;
    color: #fff;
}


/*! Button types */

.btn.btn-round {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.btn.btn-circle {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}


/*! Button sizes */

.btn.btn-lg {
    letter-spacing: 3px;
    font-size: 12px;
    padding: 12px 45px;
}

.btn.btn-sm {
    letter-spacing: 1px;
    font-size: 10px;
    padding: 6px 25px;
}

.btn.btn-xs {
    letter-spacing: 1px;
    font-size: 9px;
    padding: 4px 19px;
}


/*!------------------------------------------------------------------
[Bars]
*/

.progress {
    overflow: visible;
    height: 4px;
}

.progress-bar {
    position: relative;
    background: #111;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.progress-title {
    font-size: 12px;
    margin: 0 0 12px;
}

.progress-bar>span {
    position: absolute;
    background: #111;
    padding: 2px 10px;
    top: -12px;
    right: 0;
    font-size: 11px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.progress-bar.progress-bar-success {
    background-color: #5cb85c;
}

.progress-bar.progress-bar-success>span {
    background-color: #5cb85c;
}

.progress-bar.progress-bar-info {
    background-color: #5bc0de;
}

.progress-bar.progress-bar-info>span {
    background-color: #5bc0de;
}

.progress-bar.progress-bar-warning {
    background-color: #f0ad4e;
}

.progress-bar.progress-bar-warning>span {
    background-color: #f0ad4e;
}

.progress-bar.progress-bar-danger {
    background-color: #d9534f;
}

.progress-bar.progress-bar-danger>span {
    background-color: #d9534f;
}


/*!------------------------------------------------------------------
[Pagination]
*/

.pagination>li>a,
.pagination>li>span {
    background: #f5f5f5;
    border: 0;
    color: #111;
    padding: 9px 14px;
    margin: 0 5px 0 0;
}

.pagination>li>a,
.pagination>li>span,
.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
    -moz-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
    -o-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
    transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #111;
    color: #fff;
}


/*!------------------------------------------------------------------
[Tags]
*/

.tags a {
    position: relative;
    background: #f5f5f5;
    display: inline-block;
    padding: 6px 20px 5px 10px;
    margin: 0px 15px 10px 0;
    font-size: 11px;
    -webkit-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
    -moz-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
    -o-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
    transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}

.tags a:before {
    border-top: 13px solid rgba(0, 0, 0, 0);
    border-left: 9px solid #f5f5f5;
    border-bottom: 13px solid rgba(0, 0, 0, 0);
    position: absolute;
    content: "";
    right: -9px;
    top: 2px;
    height: 0;
    width: 0;
    -webkit-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
    -moz-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
    -o-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
    transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.tags a:after {
    background: #fff;
    position: absolute;
    display: block;
    content: "";
    right: 4px;
    top: 12px;
    height: 4px;
    width: 4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.tags a:hover {
    background: #eee;
}

.tags a:hover:before {
    border-left-color: #eee;
}


/*!------------------------------------------------------------------
[Tabs]
*/

.nav-tabs {
    border-color: #eee;
}

.nav-tabs>li>a {
    font-weight: 400;
    font-size: 13px;
    color: #111;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border-color: #eee;
    border-bottom: 1px solid transparent;
    color: #111;
}

.tab-content {
    padding: 15px 0;
}


/*!------------------------------------------------------------------
[Accordions]
*/

.panel-title,
.panel-title a {
    font-weight: 400;
    font-size: 13px;
    color: #111;
}

.panel-group {
    border: 1px solid #eee;
    border-bottom: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.panel-group .panel {
    border-radius: 0;
}

.panel {
    border: 0;
    border-bottom: 1px solid #eee;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-color: #eee;
}

.panel-heading {
    padding: 15px 20px;
}

.panel-default>.panel-heading {
    background: transparent;
    border-color: #eee;
}

.panel-heading a {
    position: relative;
    display: block;
}

.panel-heading a:after {
    position: absolute;
    content: "\f068";
    top: 50%;
    right: 0px;
    margin-top: -5px;
    font-family: "FontAwesome";
    font-size: 11px;
    line-height: 1;
}

.panel-heading a.collapsed:after {
    content: "\f067";
}

.panel-title {
    font-size: 12px;
}

.panel-group .panel+.panel {
    border-top: 0;
    margin-top: 0;
}

.panel-arrow .panel-heading a:after {
    content: "\f106";
}

.panel-arrow .panel-heading a.collapsed:after {
    content: "\f107";
}


/*!------------------------------------------------------------------
[Switch]
*/

.switch-block {
    display: flex;
    align-items: center;
    .switch {
        margin: 0 20px;
    }
    .switch-label {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 500;
        color: $color-text-primary-light;
        transition: 0.2s color linear;
    }
    &.on .switch-on-text {
        color: $color-text-secondary;
    }
    &.off .switch-off-text {
        color: $color-text-secondary;
    }
}


/*!------------------------------------------------------------------
[Button Together]
*/

.btn-together {
    display: flex;
    .btn-item:not(:first-child) {
        margin-left: 4px;
    }
}


/*!------------------------------------------------------------------
[Nice Checkboxes and Radio Buttons]
*/

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 18px;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control {
    &:hover input~.control__indicator {
        background: #ccc;
    }
    input {
        &:focus~.control__indicator {
            background: #ccc;
        }
        &:checked~.control__indicator {
            background: #111111;
        }
    }
    &:hover input:not([disabled]):checked~.control__indicator {
        background: #111111;
    }
    input {
        &:checked:focus~.control__indicator {
            background: #111111;
        }
        &:disabled~.control__indicator {
            background: #e6e6e6;
            opacity: 0.6;
            pointer-events: none;
        }
    }
}

.control__indicator:after {
    content: "";
    position: absolute;
    display: none;
}

.control input:checked~.control__indicator:after {
    display: block;
}

.control--checkbox {
    .control__indicator:after {
        left: 8px;
        top: 4px;
        width: 3px;
        height: 8px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    input:disabled~.control__indicator:after {
        border-color: #7b7b7b;
    }
}

.control--radio {
    .control__indicator:after {
        left: 7px;
        top: 7px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background: #fff;
    }
    input:disabled~.control__indicator:after {
        background: #7b7b7b;
    }
}


/*!------------------------------------------------------------------
[Sliders]
*/

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 18px;
    input {
        display: none;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: -4px;
        bottom: -3px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
    }
}

input {
    &:checked+.slider {
        background-color: $color-accent;
    }
    &:focus+.slider {
        box-shadow: 0 0 1px $color-accent;
    }
    &:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
}

.slider.round {
    border-radius: 34px;
    &:before {
        border-radius: 50%;
    }
}

@media (max-width: 991px) {
    .slides-container .hero-caption {
        padding-right: 0;
    }
}


/*!------------------------------------------------------------------
[Navbar]
*/

.navbar-custom {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    .navbar-brand {
        display: table-cell;
        vertical-align: middle;
        float: none;
        height: 70px;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 400;
        font-size: 23px;
        color: $color-text-primary-invert;
        width: 100vw;
        text-shadow: 1px 1px 0 #000;
        small {
            display: block;
            font-size: 12px;
            font-style: italic;
            font-family: "Source Sans Pro", sans-serif;
        }
    }
    li>a,
    .dropdown-menu li>a {
        color: $color-menu-link;
    }
    .nav {
        >li>a {
            &:hover,
            &:focus {
                background: transparent;
                color: #fff;
            }
        }
        .open>a {
            background: transparent;
            color: #fff;
            &:hover,
            &:focus {
                background: transparent;
                color: #fff;
            }
        }
    }
    .dropdown-menu {
        >li>a {
            &:hover,
            &:focus {
                background: transparent;
                color: $color-menu-link-hover;
            }
        }
        background: rgba(26,
        26,
        26,
        0.9);
        border: 0;
        padding: 5px 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }
    .navbar-toggle {
        .icon-bar {
            background: #fff;
        }
        padding: 0;
        margin: 27px 15px 0 0;
    }
    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0px 0 0px 20px;
    }
    .navbar-collapse {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
        -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    }
    .navbar-nav {
        i {
            width: 12px;
        }
        .menu-icon {
            margin-left: -20px;
            margin-top: 6px;
            font-size: 12px;
            color: $color-accent;
        }
        >li.item a {
            margin-left: 10px;
        }
        ul {
            list-style: none;
        }
        .parent {
            padding-bottom: 4px;
        }
        li ul li {
            //padding: 6px 0px;
        }
    }
}

@media (min-width: 992px) {
    .navbar-custom {
        .navbar-header {
            float: none;
            margin: 0 0 60px;
            padding: 20px 20px;
        }
        .navbar-nav {
            float: none;
            li {
                float: none;
            }
        }
        li>a,
        .dropdown-menu li>a {
            padding-top: 12px;
            padding-bottom: 12px;
        }
        li.dropdown>a:after {
            position: absolute;
            display: block;
            right: 35px;
            top: 50%;
            margin-top: -6px;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 10px;
            content: "\f105";
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .dropdown-menu {
            top: -5px;
            left: 100%;
            min-width: 200px;
        }
        .navbar-collapse {
            padding-left: 0;
            padding-right: 0;
            box-shadow: none;
        }
    }
}

@media (max-width: 991px) {
    .navbar-custom li>a {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
        -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    }
    .navbar-custom .navbar-nav .open .dropdown-menu>li>a,
    .navbar-custom .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 10px 15px 10px 25px;
    }
    .navbar-nav>li>.dropdown-menu {
        padding-top: 0;
        padding-bottom: 0;
    }
}


/*!------------------------------------------------------------------
[Module Hero]
*/

.module-hero {
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-caption {
    position: relative;
    display: table;
    height: 100%;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
}

.hero-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.hero-subtitle {
    font-size: 16px;
    margin: 0 0 40px;
}

.module-hero h1,
.module-hero h2,
.module-hero h3,
.module-hero h4,
.module-hero h5,
.module-hero h6 {
    line-height: 1.4;
    margin: 0 0 20px;
}

.module-hero h1 {
    letter-spacing: 20px;
    font-weight: 300;
    font-size: 54px;
}

.module-hero h2 {
    letter-spacing: 16px;
    font-weight: 300;
    font-size: 48px;
}

.module-hero h3 {
    letter-spacing: 12px;
    font-size: 32px;
}

.module-hero h4 {
    letter-spacing: 10px;
    font-size: 18px;
}

.module-hero h5 {
    letter-spacing: 8px;
    font-size: 14px;
}

.module-hero h6 {
    letter-spacing: 6px;
    font-size: 12px;
}

@media (max-width: 767px) {
    .module-hero h1 {
        font-size: 38px;
    }
    .module-hero h2 {
        font-size: 30px;
    }
    .module-hero h3 {
        letter-spacing: 12px;
        font-size: 22px;
    }
}

@media (max-width: 667px) {
    .module-hero h1 {
        letter-spacing: 10px;
        font-size: 30px;
    }
    .module-hero h2 {
        letter-spacing: 8px;
        font-size: 22px;
    }
    .module-hero h3 {
        letter-spacing: 6px;
        font-size: 18px;
    }
    .module-hero h4 {
        letter-spacing: 4px;
        font-size: 16px;
    }
    .module-hero h5 {
        letter-spacing: 2px;
        font-size: 14px;
    }
    .module-hero h6 {
        letter-spacing: 2px;
        font-size: 12px;
    }
}


/*!------------------------------------------------------------------
[Card]
*/

.card {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}


/*!------------------------------------------------------------------
[Modules]
*/

.module,
.module-sm,
.module-xs {
    background-attachment: fixed;
    padding: 140px 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.module-sm {
    padding: 70px 0;
}

.module-xs {
    padding: 35px 0;
    margin: 0 30px;
}

.module-title {
    line-height: 1.4;
    font-weight: 400;
    font-size: 17px;
    color: $color-text-secondary;
}

.module-subtitle {
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
    font-weight: 300;
    font-size: 13px;
    color: $color-text-primary-light;
}

.module-title,
.module-subtitle {
    margin: 0 0 30px;
}

.module-title+.module-subtitle {
    margin-top: -25px;
}


/*!------------------------------------------------------------------
[Overlays]
*/

.bg-gray {
    background-color: #f5f5f5;
}

.bg-film:before,
.bg-dark-30:before,
.bg-dark-60:before,
.bg-dark-90:before {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.bg-dark-30:before {
    background: rgba(34, 34, 34, 0.3);
    content: "";
    left: 0;
    top: 0;
}

.bg-dark-60:before {
    background: rgba(34, 34, 34, 0.6);
    content: "";
    left: 0;
    top: 0;
}

.bg-dark-90:before {
    background: rgba(34, 34, 34, 0.9);
    content: "";
    left: 0;
    top: 0;
}

.bg-film:before {
    //background-image:url(../images/dot.gif);
    opacity: 0.15;
    content: "";
    left: 0;
    top: 0;
}

.bg-film,
.bg-dark-30,
.bg-dark-60,
.bg-dark-90 {
    color: #fff;
}

.bg-film h1,
.bg-film h2,
.bg-film h3,
.bg-film h4,
.bg-film h5,
.bg-film h6,
.bg-film .module-subtitle,
.bg-dark-30 h1,
.bg-dark-30 h2,
.bg-dark-30 h3,
.bg-dark-30 h4,
.bg-dark-30 h5,
.bg-dark-30 h6,
.bg-dark-30 .module-subtitle,
.bg-dark-60 h1,
.bg-dark-60 h2,
.bg-dark-60 h3,
.bg-dark-60 h4,
.bg-dark-60 h5,
.bg-dark-60 h6,
.bg-dark-60 .module-subtitle,
.bg-dark-90 h1,
.bg-dark-90 h2,
.bg-dark-90 h3,
.bg-dark-90 h4,
.bg-dark-90 h5,
.bg-dark-90 h6,
.bg-dark-90 .module-subtitle {
    color: #fff;
}

.divider {
    border-color: #f5f5f5;
    margin: 0;
}


/*!------------------------------------------------------------------
[Post]
*/

.post {
    margin-bottom: 60px;
}

.post-header {
    margin: 40px 0 30px;
}

.post-content {
    padding-bottom: 20px;
    padding: 0px;
}

.post-title {
    font-weight: 700;
    font-size: 16px;
    color: #111;
    margin: 0 0 10px;
    a {
        font-weight: 700;
        font-size: 16px;
        color: #111;
        margin: 0 0 10px;
    }
}

.post {
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
        margin-top: 0px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 40px;
    }
    p>img {
        width: 100%;
        max-width: none;
    }
}

.post-thumbnail img {
    width: 100%;
    max-width: none;
}

.post {
    .slider {
        img {
            margin-left: 0;
            margin-right: 0;
        }
        &.owl-carousel {
            width: 120%;
            margin-left: -10%;
            margin-right: -10%;
        }
    }
    .fluid-width-video-wrapper {
        width: 120%;
        margin-left: -10%;
        margin-right: -10%;
    }
    .gallery {
        margin-left: -10%;
        margin-right: -10%;
    }
    blockquote {
        margin: 60px -10%;
    }
}

@media (max-width: 991px) {
    .post p>img,
    .post-thumbnail img {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .post {
        .slider.owl-carousel,
        .fluid-width-video-wrapper {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        pre,
        .gallery,
        blockquote {
            margin-left: 0;
            margin-right: 0;
        }
    }
}


/*!------------------------------------------------------------------
[Post Navigation]
*/

.post-navigation {
    display: block;
    background-color: rgba(34, 34, 34, 0.5);
    text-align: center;
    padding: 140px 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.post-navigation:hover {
    background-color: rgba(34, 34, 34, 0.7);
}

.post-navigation {
    color: #fff;
}

.post-navigation h1,
.post-navigation h2,
.post-navigation h3,
.post-navigation h4,
.post-navigation h5,
.post-navigation h6 {
    color: #fff !important;
}

.post-nav-title {
    letter-spacing: 6px;
    font-size: 32px;
    margin-bottom: 0;
}

.post-nav-subtitle {
    font-size: 13px;
}


/*!------------------------------------------------------------------
[Comments and Comment form]
*/

.comment-avatar {
    float: left;
    max-width: 50px;
}

.comment-avatar img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.comment-content {
    margin: 0 0 40px 70px;
    padding: 0 0 25px;
}

.comment-author {
    font-size: 11px;
    margin: 0 0 20px;
}

.comment-author a {
    color: #111;
}

.comment-meta {
    font-size: 10px;
}

.post-author {
    margin: 80px 0 0;
}

.comment-title,
.comment-form-title,
.post-author-title {
    font-size: 15px;
    margin: 0 0 20px;
}

.comments+.comment-form {
    margin: 70px 0 0;
}

@media (min-width: 768px) {
    .comment .comment {
        margin-left: 70px;
    }
}


/*!------------------------------------------------------------------
[Footer]
*/

.footer {
    background-color: #fff;
    padding: 20px 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #bbb;
}

.contact-info {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0 0 40px;
}

.contact-info li {
    display: inline-block;
    margin: 5px 15px;
}

.to-top-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    text-align: center;
    line-height: 40px;
    margin-left: -20px;
}

.to-top-link:hover {
    background: #111;
    color: #fff;
}

.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}