$dark: #232323;
$dark_1: #303030;
$dark_2: #3a3a3a;
$light: #fdfdfd;
$font_body: #818181;
$font_body_dark: #000;
$font_body_medium: rgb(92, 92, 92);
$font_body_light: #aeaeae;
$link_active: #2196f3;
$link_hover: #1a82d6;
$border_color: #e5e5e5;
$placeholder: #eeeeee;
