:root {
    --color-text-primary: #333333;
    --color-text-primary-invert: #b7b7b7;
    --color-text-primary-light: #616161;
    --color-text-muted: rgb(185, 185, 185);
    --color-text-secondary: #000000;
    --color-text-secondary-light: #4c4c4c;
    --color-accent: #2196f3;
    --color-bg-primary: #3a3a3a;
    --color-bg-secondary: #1f1e1e;
    --color-border: #e5e5e5;
    --link-hover: #1a82d6;
    --color-menu-link: var(--color-text-primary-invert);
}

$racing_font: "Racing Sans One", cursive;

$fs-small: 12px;
$fs-normal: 14px;
$fs-medium: 16px;
$fs-large: 18px;

/*!------------------------------------------------------------------
[Body Color]
*/

$color-text-primary: var(--color-text-primary);

/*!------------------------------------------------------------------
[Headlines]
*/

$color-text-secondary: var(--color-text-secondary);

/*!------------------------------------------------------------------
[Help text]
*/

$color-text-primary-light: var(--color-text-primary-light);

/*!------------------------------------------------------------------
[Placeholders]
*/

$color-text-muted: var(--color-text-muted);

/*!------------------------------------------------------------------
[Contrast for backgrounds. This should be opposite of text-primary-color]
*/

$color-text-primary-invert: var(--color-text-primary-invert);

/*!------------------------------------------------------------------
[Input boxes, text areas, etc. All .form-control]
*/

$color-text-secondary-light: var(--color-text-secondary-light);

/*!------------------------------------------------------------------
[Something to contrast]
*/

$color-accent: var(--color-accent);

/*!------------------------------------------------------------------
[Body background color]
*/

$color-bg-primary: var(--color-bg-primary);

/*!------------------------------------------------------------------
[Sidebar color]
*/

$color-bg-secondary: var(--color-bg-secondary);

/*!------------------------------------------------------------------
[Link colors]
*/

$link_active: var(--color-accent);
$link_hover: var(--link-hover);

/*!------------------------------------------------------------------
[Borders]
*/

$color-border: var(--color-border);

/*!------------------------------------------------------------------
[Menu Link Color]
*/

$color-menu-link: var(--color-menu-link);
