$racing_font: "Racing Sans One", cursive;

/*!------------------------------------------------------------------
[Body Color]
*/

$color-text-primary: #333333;

/*!------------------------------------------------------------------
[Contrast for backgrounds. This should be opposite of text-primary-color]
*/

$color-text-primary-invert: #b7b7b7;

/*!------------------------------------------------------------------
[Help text]
*/

$color-text-primary-light: #616161;

/*!------------------------------------------------------------------
[Placeholders]
*/

$color-text-weak: rgb(185, 185, 185);

/*!------------------------------------------------------------------
[Headlines]
*/

$color-text-secondary: #000;

/*!------------------------------------------------------------------
[Input boxes, text areas, etc. All .form-control]
*/

$color-text-secondary-light: #4c4c4c;

/*!------------------------------------------------------------------
[Something to contrast]
*/

$color-accent: #2196f3;

/*!------------------------------------------------------------------
[Body background color]
*/

$color-bg-primary: #3a3a3a;

/*!------------------------------------------------------------------
[Sidebar color]
*/

$color-bg-secondary: #1f1e1e;

/*!------------------------------------------------------------------
[Link colors]
*/

$link_active: $color-accent;
$link_hover: #1a82d6;

/*!------------------------------------------------------------------
[Borders]
*/

$color-border: #e5e5e5;

/*!------------------------------------------------------------------
[Menu Link Color]
*/

$color-menu-link: $color-text-primary-invert;
$color-menu-link-hover: $color-accent;
$color-menu-link-active: $color-accent;
