{
    "presets": ["es2015", "stage-0", "react"],

    "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-object-rest-spread"
    ],
    "env": {
        "build": {
            "optional": ["optimisation", "minification"]
        },
        "targets": {
            "browsers": ["last 2 Chrome versions"]
        }
    }
}
