{
    "presets": [
        "es2015",
        "react",
        [
            "env",
            {
                "targets": {
                    "node": 8
                },
                "useBuiltIns": true,
                "loose": true,
                "modules": false
            }
        ]
    ],

    "plugins": ["react-hot-loader/babel", "transform-object-rest-spread"]
}
