node_modules
npm-debug.log
**/.DS_Store
.DS_Store
.vscode
.yarn-cache
.env
yarn-error.log
extend
hot
src/client/themes/*
src/admin/public/dist
*hot*js*
data/*
!data/.gitkeep 
yarn-error.log
src/public/uploads
package-lock.json
src/public/js/*bundle*
admin/public/dist
apiBuild
.installed
forever.sh
static
letterpad-static
dist/*