node_modules
npm-debug.log
**/.DS_Store
.DS_Store
.vscode
.yarn-cache
.env
yarn-error.log
extend
hot
client/themes/*
*hot*js*
data/*
!data/.gitkeep 
yarn-error.log
public/uploads
package-lock.json
public/js/*bundle*
admin/public/dist
apiBuild
.installed
forever.sh
static
letterpad-static