@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700.css);@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700);:root {
  --color-text-primary: #333333;
  --color-text-primary-invert: #b7b7b7;
  --color-text-primary-light: #616161;
  --color-text-muted: #b9b9b9;
  --color-text-secondary: #000000;
  --color-text-secondary-light: #4c4c4c;
  --color-accent: #2196f3;
  --color-bg-primary: #3a3a3a;
  --color-bg-secondary: #1f1e1e;
  --color-border: #e5e5e5;
  --link-hover: #1a82d6;
  --color-menu-link: var(--color-text-primary-invert); }

/*!------------------------------------------------------------------
[Body Color]
*/
/*!------------------------------------------------------------------
[Headlines]
*/
/*!------------------------------------------------------------------
[Help text]
*/
/*!------------------------------------------------------------------
[Placeholders]
*/
/*!------------------------------------------------------------------
[Contrast for backgrounds. This should be opposite of text-primary-color]
*/
/*!------------------------------------------------------------------
[Input boxes, text areas, etc. All .form-control]
*/
/*!------------------------------------------------------------------
[Something to contrast]
*/
/*!------------------------------------------------------------------
[Body background color]
*/
/*!------------------------------------------------------------------
[Sidebar color]
*/
/*!------------------------------------------------------------------
[Link colors]
*/
/*!------------------------------------------------------------------
[Borders]
*/
/*!------------------------------------------------------------------
[Menu Link Color]
*/
.login-view {
  background: #252627; }
  .login-view .login {
    margin: 0 auto;
    margin-top: -165px;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -190px;
    width: 380px; }
    .login-view .login .form-signin input {
      text-transform: none;
      border: 1px solid #eee;
      color: #5a5b5c;
      font-size: 13px; }
    .login-view .login .form-signin input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset; }
    .login-view .login .form-signin label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: bold;
      letter-spacing: 4px;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 11px;
      margin-top: 19px; }
    .login-view .login .form-signin .form-signin-heading {
      margin-bottom: 18px;
      font-size: 30px;
      color: #5a5b5c; }
    .login-view .login .form-signin .form-control {
      position: relative;
      height: auto;
      padding: 9px 8px;
      box-sizing: border-box; }
      .login-view .login .form-signin .form-control:focus {
        z-index: 2; }

:root {
  --color-text-primary: #333333;
  --color-text-primary-invert: #b7b7b7;
  --color-text-primary-light: #616161;
  --color-text-muted: #b9b9b9;
  --color-text-secondary: #000000;
  --color-text-secondary-light: #4c4c4c;
  --color-accent: #2196f3;
  --color-bg-primary: #3a3a3a;
  --color-bg-secondary: #1f1e1e;
  --color-border: #e5e5e5;
  --link-hover: #1a82d6;
  --color-menu-link: var(--color-text-primary-invert); }

/*!------------------------------------------------------------------
[Body Color]
*/
/*!------------------------------------------------------------------
[Headlines]
*/
/*!------------------------------------------------------------------
[Help text]
*/
/*!------------------------------------------------------------------
[Placeholders]
*/
/*!------------------------------------------------------------------
[Contrast for backgrounds. This should be opposite of text-primary-color]
*/
/*!------------------------------------------------------------------
[Input boxes, text areas, etc. All .form-control]
*/
/*!------------------------------------------------------------------
[Something to contrast]
*/
/*!------------------------------------------------------------------
[Body background color]
*/
/*!------------------------------------------------------------------
[Sidebar color]
*/
/*!------------------------------------------------------------------
[Link colors]
*/
/*!------------------------------------------------------------------
[Borders]
*/
/*!------------------------------------------------------------------
[Menu Link Color]
*/
.wrapper {
  position: relative;
  margin-left: 250px; }

.sidebar {
  position: fixed;
  width: 250px;
  background-color: var(--color-bg-secondary);
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .sidebar a {
    color: rgba(255, 255, 255, 0.7); }
    .sidebar a:hover {
      color: #fff; }
  .sidebar .copyright {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px 30px;
    font-size: 13px;
    font-weight: 300;
    color: var(--color-text-primary-invert); }
  .sidebar .social-icons a {
    font-size: 12px;
    margin-right: 10px;
    position: relative; }
  .sidebar.nav {
    width: 95%; }

.nav.child_menu {
  display: block; }

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -41.6%; }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -41.6%; }
  .row-offcanvas-right.active {
    right: 41.6%; }
  .row-offcanvas-left.active {
    left: 41.6%; }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%; }
  #sidebar {
    padding-top: 0; } }

@media (max-width: 991px) {
  .sidebar {
    position: relative;
    z-index: 99999;
    height: auto;
    width: 100%;
    padding: 0; }
    .sidebar:after {
      content: normal; }
    .sidebar .copyright {
      display: none; }
  .wrapper {
    margin-left: 0; } }

/*! -----------------------------------------------------------------
[Master Stylesheet]

Project:     Ajaxtown
Version:     1.0
Last change: 21/03/2017
Primary use: Blog

------------------------------------------------------------------
[General Styles]
*/
html {
  height: 100%; }

body {
  background: var(--color-bg-primary);
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.8;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-primary);
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
  height: 100%; }

img {
  max-width: 100%;
  height: auto; }

iframe {
  border: 0; }

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  display: block;
  color: #ccc;
  cursor: pointer;
  /* For Firefox */ }

input,
textarea,
[contenteditable="true"]:focus {
  outline: none; }

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button; }

pre.CodeFlask__pre {
  opacity: 0; }

textarea.CodeFlask__textarea {
  opacity: 1; }

.table {
  box-shadow: 0px 0px 10px 0px #ccc; }
  .table tbody tr td:first-child,
  .table thead tr th:first-child {
    padding-left: 16px !important; }

::-webkit-input-placeholder {
  color: var(--color-text-muted) !important;
  font-weight: 300; }

.top-head {
  display: none; }

.home .top-head {
  display: block; }

.container-fluid {
  padding: 0 24px; }

.pointer {
  cursor: pointer; }

.fa {
  position: relative; }

/*!------------------------------------------------------------------
[Typography]
*/
a {
  color: var(--color-accent);
  -webkit-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1); }

a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

a:hover {
  color: var(--link-hover); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  color: #111;
  margin: 0 0 20px; }

h1 {
  font-size: 22px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

p,
ul,
ol {
  margin: 0 0 30px; }

pre {
  border: 0;
  line-height: 1.9;
  font-size: 12px;
  padding: 35px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

blockquote {
  border: 0;
  font-family: Georgia, sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 28px;
  color: #111;
  padding: 0;
  margin: 0; }

blockquote:before {
  display: block;
  content: "\F10D";
  margin: 0 0 30px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 24px;
  color: #bbb;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  opacity: 0.3; }

blockquote cite {
  display: block;
  font-size: 17px;
  color: #bbb;
  margin: 30px 0; }

.lead {
  line-height: 1.8;
  font-size: 18px; }

.font-alt {
  text-transform: uppercase;
  letter-spacing: 1px; }

.font-serif {
  font-family: Georgia, sans-serif;
  font-style: italic; }

.text-light {
  color: #fff !important; }

.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6 {
  color: #fff !important; }

.text-light a {
  color: rgba(255, 255, 255, 0.7); }

.text-light a:hover {
  color: #fff; }

.brand {
  font-weight: 100;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 2px; }

/*!------------------------------------------------------------------
[Preloader]
*/
.page-loader {
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9998; }

.loader {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  text-indent: -9999em;
  background-color: transparent;
  border: 5px solid #eceff1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.loader:after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  padding: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: #111 transparent transparent transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  animation: ringrotate 0.8s infinite cubic-bezier(0.5, 0.49, 0.49, 0.49);
  -webkit-animation: ringrotate 0.8s infinite cubic-bezier(0.5, 0.49, 0.49, 0.49); }

@keyframes ringrotate {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

@-webkit-keyframes ringrotate {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

/*!------------------------------------------------------------------
[Forms]
*/
.form-control {
  border: 0;
  height: 36px;
  padding: 13px 0px;
  font-size: 13px;
  border-bottom: 1px solid var(--color-border);
  color: var(--color-text-secondary-light);
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  transition: 0.3s border-color linear;
  text-transform: none;
  background: transparent; }

.form-control[disabled] {
  background: transparent;
  color: var(--color-text-primary-light); }

.form-control:focus {
  box-shadow: 0px 1px 0px 0px #66afe9; }

.comments-form .control-label {
  font-weight: 400;
  font-size: 12px;
  color: #bbb; }

@media (min-width: 768px) {
  .comments-form .control-label {
    padding-top: 12px; } }

/*!------------------------------------------------------------------
[Buttons]
*/
.btn {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 11px;
  padding: 9px 28px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0; }

.btn-dark,
.btn-dark:focus {
  background: #111111;
  color: #fff; }

.btn-dark:hover {
  background: rgba(17, 17, 17, 0.8);
  color: #fff; }

.btn-blue,
.btn-blue:focus {
  background: var(--color-accent);
  color: #fff; }

.btn-blue:hover {
  background: var(--link-hover);
  color: #fff; }

/*! Button types */
.btn.btn-round {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

.btn.btn-circle {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px; }

/*! Button sizes */
.btn.btn-lg {
  letter-spacing: 3px;
  font-size: 12px;
  padding: 12px 45px; }

.btn.btn-sm {
  letter-spacing: 1px;
  font-size: 10px;
  padding: 6px 25px; }

.btn.btn-xs {
  letter-spacing: 1px;
  font-size: 9px;
  padding: 4px 19px; }

/*!------------------------------------------------------------------
[Bars]
*/
.progress {
  overflow: visible;
  height: 4px; }

.progress-bar {
  position: relative;
  background: #111;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

.progress-title {
  font-size: 12px;
  margin: 0 0 12px; }

.progress-bar > span {
  position: absolute;
  background: #111;
  padding: 2px 10px;
  top: -12px;
  right: 0;
  font-size: 11px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

.progress-bar.progress-bar-success {
  background-color: #5cb85c; }

.progress-bar.progress-bar-success > span {
  background-color: #5cb85c; }

.progress-bar.progress-bar-info {
  background-color: #5bc0de; }

.progress-bar.progress-bar-info > span {
  background-color: #5bc0de; }

.progress-bar.progress-bar-warning {
  background-color: #f0ad4e; }

.progress-bar.progress-bar-warning > span {
  background-color: #f0ad4e; }

.progress-bar.progress-bar-danger {
  background-color: #d9534f; }

.progress-bar.progress-bar-danger > span {
  background-color: #d9534f; }

/*!------------------------------------------------------------------
[Pagination]
*/
.pagination > li > a,
.pagination > li > span {
  margin: 0 5px 0 0; }

.pagination > li > a,
.pagination > li > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1); }

/*!------------------------------------------------------------------
[Tags]
*/
.tags a {
  position: relative;
  background: #f5f5f5;
  display: inline-block;
  padding: 6px 20px 5px 10px;
  margin: 0px 15px 10px 0;
  font-size: 11px;
  -webkit-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px; }

.tags a:before {
  border-top: 13px solid transparent;
  border-left: 9px solid #f5f5f5;
  border-bottom: 13px solid transparent;
  position: absolute;
  content: "";
  right: -9px;
  top: 2px;
  height: 0;
  width: 0;
  -webkit-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.125s cubic-bezier(0.3, 0.1, 0.58, 1); }

.tags a:after {
  background: #fff;
  position: absolute;
  display: block;
  content: "";
  right: 4px;
  top: 12px;
  height: 4px;
  width: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.tags a:hover {
  background: #eee; }

.tags a:hover:before {
  border-left-color: #eee; }

/*!------------------------------------------------------------------
[Tabs]
*/
.nav-tabs {
  border-color: #eee; }

.nav-tabs > li > a {
  font-weight: 400;
  font-size: 13px;
  color: #111;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-color: #eee;
  border-bottom: 1px solid transparent;
  color: #111; }

.tab-content {
  padding: 15px 0; }

/*!------------------------------------------------------------------
[Accordions]
*/
.panel-title,
.panel-title a {
  font-weight: 400;
  font-size: 13px;
  color: #111; }

.panel-group {
  border: 1px solid #eee;
  border-bottom: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

.panel-group .panel {
  border-radius: 0; }

.panel {
  border: 0;
  border-bottom: 1px solid #eee; }

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-color: #eee; }

.panel-heading {
  padding: 15px 20px; }

.panel-default > .panel-heading {
  background: transparent;
  border-color: #eee; }

.panel-heading a {
  position: relative;
  display: block; }

.panel-heading a:after {
  position: absolute;
  content: "\F068";
  top: 50%;
  right: 0px;
  margin-top: -5px;
  font-family: "FontAwesome";
  font-size: 11px;
  line-height: 1; }

.panel-heading a.collapsed:after {
  content: "\F067"; }

.panel-title {
  font-size: 12px; }

.panel-group .panel + .panel {
  border-top: 0;
  margin-top: 0; }

.panel-arrow .panel-heading a:after {
  content: "\F106"; }

.panel-arrow .panel-heading a.collapsed:after {
  content: "\F107"; }

/*!------------------------------------------------------------------
[Switch]
*/
.switch-block {
  display: flex;
  align-items: center; }
  .switch-block .switch {
    margin: 0 20px; }
  .switch-block .switch-label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-text-primary-light);
    transition: 0.2s color linear; }
  .switch-block.on .switch-on-text {
    color: var(--color-text-secondary); }
  .switch-block.off .switch-off-text {
    color: var(--color-text-secondary); }

/*!------------------------------------------------------------------
[Button Together]
*/
.btn-together {
  display: flex; }
  .btn-together .btn-item:not(:first-child) {
    margin-left: 4px; }

/*!------------------------------------------------------------------
[Nice Checkboxes and Radio Buttons]
*/
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 18px; }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator {
  background: #ccc; }

.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #111111; }

.control:hover input:not([disabled]):checked ~ .control__indicator {
  background: #111111; }

.control input:checked:focus ~ .control__indicator {
  background: #111111; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none; }

.control__indicator:after {
  content: "";
  position: absolute;
  display: none; }

.control input:checked ~ .control__indicator:after {
  display: block; }

.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff; }

.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b; }

/*!------------------------------------------------------------------
[Sliders]
*/
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 18px; }
  .switch input {
    display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: -4px;
    bottom: -3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28); }

input:checked + .slider {
  background-color: var(--color-accent); }

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-accent); }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

.slider.round {
  border-radius: 34px; }
  .slider.round:before {
    border-radius: 50%; }

@media (max-width: 991px) {
  .slides-container .hero-caption {
    padding-right: 0; } }

/*!------------------------------------------------------------------
[Navbar]
*/
.navbar-custom {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0; }
  .navbar-custom .navbar-brand {
    display: table-cell;
    vertical-align: middle;
    float: none;
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    color: var(--color-text-primary-invert);
    width: 100vw;
    text-shadow: 1px 1px 0 #000; }
    .navbar-custom .navbar-brand small {
      display: block;
      font-size: 12px;
      font-family: "Source Sans Pro", sans-serif; }
  .navbar-custom li > a,
  .navbar-custom .dropdown-menu li > a {
    color: var(--color-menu-link); }
  .navbar-custom .nav > li > a:hover {
    background: transparent;
    color: #fff; }
  .navbar-custom .nav > li > a:focus {
    background: transparent; }
  .navbar-custom .nav .open > a {
    background: transparent; }
    .navbar-custom .nav .open > a:hover {
      background: transparent;
      color: #fff; }
    .navbar-custom .nav .open > a:focus {
      background: transparent; }
  .navbar-custom .dropdown-menu {
    background: rgba(26, 26, 26, 0.9);
    border: 0;
    padding: 5px 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
    .navbar-custom .dropdown-menu > li > a:hover, .navbar-custom .dropdown-menu > li > a:focus {
      background: transparent;
      color: var(--color-accent); }
  .navbar-custom .navbar-toggle {
    padding: 0;
    margin: 27px 15px 0 0; }
    .navbar-custom .navbar-toggle .icon-bar {
      background: #fff; }
  .navbar-custom .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px 0 0px 20px; }
  .navbar-custom .navbar-collapse {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05); }
  .navbar-custom .navbar-nav i {
    width: 12px; }
  .navbar-custom .navbar-nav .menu-icon {
    margin-left: -20px;
    margin-top: 6px;
    font-size: 12px;
    color: var(--color-accent); }
  .navbar-custom .navbar-nav > li.item a {
    margin-left: 10px; }
  .navbar-custom .navbar-nav ul {
    list-style: none; }
  .navbar-custom .navbar-nav .parent {
    padding-bottom: 4px; }

@media (min-width: 992px) {
  .navbar-custom .navbar-header {
    float: none;
    margin: 0 0 10px;
    padding: 20px 20px; }
  .navbar-custom .navbar-nav {
    float: none; }
    .navbar-custom .navbar-nav li {
      float: none; }
  .navbar-custom li > a,
  .navbar-custom .dropdown-menu li > a {
    padding-top: 12px;
    padding-bottom: 12px; }
  .navbar-custom li.dropdown > a:after {
    position: absolute;
    display: block;
    right: 35px;
    top: 50%;
    margin-top: -6px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 10px;
    content: "\F105";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .navbar-custom .dropdown-menu {
    top: -5px;
    left: 100%;
    min-width: 200px; }
  .navbar-custom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    box-shadow: none; } }

@media (max-width: 991px) {
  .navbar-custom li > a {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05); }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a,
  .navbar-custom .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px 15px 10px 25px; }
  .navbar-nav > li > .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0; } }

/*!------------------------------------------------------------------
[Module Hero]
*/
.module-hero {
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.hero-caption {
  position: relative;
  display: table;
  height: 100%;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  z-index: 2; }

.hero-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  height: 100%; }

.hero-subtitle {
  font-size: 16px;
  margin: 0 0 40px; }

.module-hero h1,
.module-hero h2,
.module-hero h3,
.module-hero h4,
.module-hero h5,
.module-hero h6 {
  line-height: 1.4;
  margin: 0 0 20px; }

.module-hero h1 {
  letter-spacing: 20px;
  font-weight: 300;
  font-size: 54px; }

.module-hero h2 {
  letter-spacing: 16px;
  font-weight: 300;
  font-size: 48px; }

.module-hero h3 {
  letter-spacing: 12px;
  font-size: 32px; }

.module-hero h4 {
  letter-spacing: 10px;
  font-size: 18px; }

.module-hero h5 {
  letter-spacing: 8px;
  font-size: 14px; }

.module-hero h6 {
  letter-spacing: 6px;
  font-size: 12px; }

@media (max-width: 767px) {
  .module-hero h1 {
    font-size: 38px; }
  .module-hero h2 {
    font-size: 30px; }
  .module-hero h3 {
    letter-spacing: 12px;
    font-size: 22px; } }

@media (max-width: 667px) {
  .module-hero h1 {
    letter-spacing: 10px;
    font-size: 30px; }
  .module-hero h2 {
    letter-spacing: 8px;
    font-size: 22px; }
  .module-hero h3 {
    letter-spacing: 6px;
    font-size: 18px; }
  .module-hero h4 {
    letter-spacing: 4px;
    font-size: 16px; }
  .module-hero h5 {
    letter-spacing: 2px;
    font-size: 14px; }
  .module-hero h6 {
    letter-spacing: 2px;
    font-size: 12px; } }

/*!------------------------------------------------------------------
[Card]
*/
.card {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px; }

.post-grid .card {
  margin-bottom: 0px; }

.post-grid:not(.with-padding) .card {
  padding: 0px; }

.post-grid:not(.with-padding) .post {
  margin-bottom: 0px; }
  .post-grid:not(.with-padding) .post .post-content {
    padding: 20px; }
  .post-grid:not(.with-padding) .post .post-header {
    margin: 0px 20px;
    padding-top: 20px; }
    .post-grid:not(.with-padding) .post .post-header .post-title {
      margin-bottom: 0px; }
  .post-grid:not(.with-padding) .post .post-body.with-border {
    border: 1px solid #eee; }

/*!------------------------------------------------------------------
[Modules]
*/
.module,
.module-sm,
.module-xs {
  background-attachment: fixed;
  padding: 140px 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.module-sm {
  padding: 70px 0; }

.module-xs {
  padding: 16px 0;
  margin: 0 16px; }

.module-title {
  line-height: 1.4;
  font-weight: 400;
  font-size: 15px;
  color: var(--color-text-secondary);
  text-transform: uppercase; }

.module-subtitle {
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
  font-weight: 300;
  font-size: 13px;
  color: var(--color-text-primary-light); }

.module-title,
.module-subtitle {
  margin: 0 0 16px; }

.module-title + .module-subtitle {
  margin-top: -16px; }

/*!------------------------------------------------------------------
[Overlays]
*/
.bg-gray {
  background-color: #f5f5f5; }

.bg-film:before,
.bg-dark-30:before,
.bg-dark-60:before,
.bg-dark-90:before {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0; }

.bg-dark-30:before {
  background: rgba(34, 34, 34, 0.3);
  content: "";
  left: 0;
  top: 0; }

.bg-dark-60:before {
  background: rgba(34, 34, 34, 0.6);
  content: "";
  left: 0;
  top: 0; }

.bg-dark-90:before {
  background: rgba(34, 34, 34, 0.9);
  content: "";
  left: 0;
  top: 0; }

.bg-film:before {
  opacity: 0.15;
  content: "";
  left: 0;
  top: 0; }

.bg-film,
.bg-dark-30,
.bg-dark-60,
.bg-dark-90 {
  color: #fff; }

.bg-film h1,
.bg-film h2,
.bg-film h3,
.bg-film h4,
.bg-film h5,
.bg-film h6,
.bg-film .module-subtitle,
.bg-dark-30 h1,
.bg-dark-30 h2,
.bg-dark-30 h3,
.bg-dark-30 h4,
.bg-dark-30 h5,
.bg-dark-30 h6,
.bg-dark-30 .module-subtitle,
.bg-dark-60 h1,
.bg-dark-60 h2,
.bg-dark-60 h3,
.bg-dark-60 h4,
.bg-dark-60 h5,
.bg-dark-60 h6,
.bg-dark-60 .module-subtitle,
.bg-dark-90 h1,
.bg-dark-90 h2,
.bg-dark-90 h3,
.bg-dark-90 h4,
.bg-dark-90 h5,
.bg-dark-90 h6,
.bg-dark-90 .module-subtitle {
  color: #fff; }

.divider {
  border-color: #f5f5f5;
  margin: 0; }

/*!------------------------------------------------------------------
[Post]
*/
.post {
  margin-bottom: 20px; }

.post-header {
  margin: 16px 0 16px; }

.post-content {
  padding-bottom: 20px;
  padding: 0px; }

.post-title {
  font-weight: 500;
  font-size: 16px;
  color: #111;
  min-height: 20px;
  margin: 0 0 10px; }
  .post-title a {
    font-weight: 500;
    font-size: 16px;
    color: #111;
    margin: 0 0 10px; }

a.post-more {
  background: var(--color-text-secondary);
  color: var(--color-border);
  border: 1px solid var(--color-text-secondary);
  padding: 6px 10px;
  transition: all 0.2s linear;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px; }
  a.post-more:hover {
    background: var(--color-border);
    color: var(--color-text-secondary);
    border: 1px solid var(--color-text-secondary); }

.post h1:first-child,
.post h2:first-child,
.post h3:first-child,
.post h4:first-child,
.post h5:first-child,
.post h6:first-child {
  margin-top: 0px; }

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-top: 40px; }

.post p > img {
  width: 100%;
  max-width: none; }

.post-thumbnail img {
  width: 100%;
  max-width: none; }

.post .slider img {
  margin-left: 0;
  margin-right: 0; }

.post .slider.owl-carousel {
  width: 120%;
  margin-left: -10%;
  margin-right: -10%; }

.post .fluid-width-video-wrapper {
  width: 120%;
  margin-left: -10%;
  margin-right: -10%; }

.post .gallery {
  margin-left: -10%;
  margin-right: -10%; }

.post blockquote {
  margin: 60px -10%; }

@media (max-width: 991px) {
  .post p > img,
  .post-thumbnail img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .post .slider.owl-carousel,
  .post .fluid-width-video-wrapper {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .post pre,
  .post .gallery,
  .post blockquote {
    margin-left: 0;
    margin-right: 0; } }

/*!------------------------------------------------------------------
[Post Navigation]
*/
.post-navigation {
  display: block;
  background-color: rgba(34, 34, 34, 0.5);
  text-align: center;
  padding: 140px 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.post-navigation:hover {
  background-color: rgba(34, 34, 34, 0.7); }

.post-navigation {
  color: #fff; }

.post-navigation h1,
.post-navigation h2,
.post-navigation h3,
.post-navigation h4,
.post-navigation h5,
.post-navigation h6 {
  color: #fff !important; }

.post-nav-title {
  letter-spacing: 6px;
  font-size: 32px;
  margin-bottom: 0; }

.post-nav-subtitle {
  font-size: 13px; }

/*!------------------------------------------------------------------
[Comments and Comment form]
*/
.comment-avatar {
  float: left;
  max-width: 50px; }

.comment-avatar img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.comment-content {
  margin: 0 0 40px 70px;
  padding: 0 0 25px; }

.comment-author {
  font-size: 11px;
  margin: 0 0 20px; }

.comment-author a {
  color: #111; }

.comment-meta {
  font-size: 10px; }

.post-author {
  margin: 80px 0 0; }

.comment-title,
.comment-form-title,
.post-author-title {
  font-size: 15px;
  margin: 0 0 20px; }

.comments + .comment-form {
  margin: 70px 0 0; }

@media (min-width: 768px) {
  .comment .comment {
    margin-left: 70px; } }

/*!------------------------------------------------------------------
[Footer]
*/
.footer {
  background-color: #fff;
  padding: 20px 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #bbb; }

.contact-info {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 0 40px; }

.contact-info li {
  display: inline-block;
  margin: 5px 15px; }

.to-top-link {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  text-align: center;
  line-height: 40px;
  margin-left: -20px; }

.to-top-link:hover {
  background: #111;
  color: #fff; }

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top; }

/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
.Select {
  position: relative; }

.Select input::-webkit-contacts-auto-fill-button,
.Select input::-webkit-credentials-auto-fill-button {
  display: none !important; }

.Select input::-ms-clear {
  display: none !important; }

.Select input::-ms-reveal {
  display: none !important; }

.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
  opacity: 0.35; }

.Select.is-disabled > .Select-control {
  background-color: #f9f9f9; }

.Select.is-disabled > .Select-control:hover {
  box-shadow: none; }

.Select.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9; }

.Select.is-open > .Select-control .Select-arrow {
  top: -2px;
  border-color: transparent transparent #999;
  border-width: 0 5px 5px; }

.Select.is-searchable.is-open > .Select-control {
  cursor: text; }

.Select.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text; }

.Select.is-focused > .Select-control {
  background: #fff; }

.Select.is-focused:not(.is-open) > .Select-control {
  background: #fff; }

.Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
  padding-right: 42px; }

.Select.has-value.Select--single
> .Select-control
.Select-value
.Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single
> .Select-control
.Select-value
.Select-value-label {
  color: #333; }

.Select.has-value.Select--single
> .Select-control
.Select-value
a.Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single
> .Select-control
.Select-value
a.Select-value-label {
  cursor: pointer;
  text-decoration: none; }

.Select.has-value.Select--single
> .Select-control
.Select-value
a.Select-value-label:hover,
.Select.has-value.is-pseudo-focused.Select--single
> .Select-control
.Select-value
a.Select-value-label:hover,
.Select.has-value.Select--single
> .Select-control
.Select-value
a.Select-value-label:focus,
.Select.has-value.is-pseudo-focused.Select--single
> .Select-control
.Select-value
a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline; }

.Select.has-value.Select--single
> .Select-control
.Select-value
a.Select-value-label:focus,
.Select.has-value.is-pseudo-focused.Select--single
> .Select-control
.Select-value
a.Select-value-label:focus {
  background: #fff; }

.Select.has-value.is-pseudo-focused .Select-input {
  opacity: 0; }

.Select.is-open .Select-arrow,
.Select .Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666; }

.Select.Select--rtl {
  direction: rtl;
  text-align: right; }

.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%; }

.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06); }

.Select-control .Select-input:focus {
  outline: none;
  background: #fff; }

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle; }

.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 17px;
  /* For IE 8 compatibility */
  padding: 8px 0 12px;
  /* For IE 8 compatibility */
  -webkit-appearance: none; }

.is-focused .Select-input > input {
  cursor: text; }

.has-value.is-pseudo-focused .Select-input {
  opacity: 0; }

.Select-control:not(.is-searchable) > .Select-input {
  outline: none; }

.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px; }

.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle; }

.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px; }

.Select-clear-zone:hover {
  color: #d0021b; }

.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1; }

.Select--multi .Select-clear-zone {
  width: 17px; }

.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px; }

.Select--rtl .Select-arrow-zone {
  padding-right: 0;
  padding-left: 5px; }

.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
  position: relative; }

.Select-control > *:last-child {
  padding-right: 5px; }

.Select--multi .Select-multi-value-wrapper {
  display: inline-block; }

.Select .Select-aria-only {
  position: absolute;
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  float: left; }

@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.Select-menu-outer {
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch; }

.Select-menu {
  max-height: 198px;
  overflow-y: auto; }

.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px; }

.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.Select-option.is-selected {
  background-color: #f5faff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.04);
  color: #333; }

.Select-option.is-focused {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  color: #333; }

.Select-option.is-disabled {
  color: #cccccc;
  cursor: default; }

.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px; }

.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0; }

.Select--multi.Select--rtl .Select-input {
  margin-left: 0;
  margin-right: 10px; }

.Select--multi.has-value .Select-input {
  margin-left: 5px; }

.Select--multi .Select-value {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top; }

.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle; }

.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px; }

.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none; }

.Select--multi a.Select-value-label:hover {
  text-decoration: underline; }

.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px; }

.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #d8eafd;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6; }

.Select--multi .Select-value-icon:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24); }

.Select--multi.Select--rtl .Select-value {
  margin-left: 0;
  margin-right: 5px; }

.Select--multi.Select--rtl .Select-value-icon {
  border-right: none;
  border-left: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-left: 1px solid rgba(0, 126, 255, 0.24); }

.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333; }

.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3; }

.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc; }

@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn); } }

@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn); } }

label.custom-label {
  font-weight: 500;
  font-size: 13px; }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(36vw, 1fr));
  grid-gap: 26px;
  grid-auto-rows: minmax(203px, auto);
  grid-auto-flow: dense; }

.post-grid .post {
  margin-bottom: 0px;
  box-shadow: -2px 2px 14px -2px #ccc; }

.media-grid .post .post-header {
  margin: 0px;
  font-size: 12px; }

.media-grid .post .post-time {
  font-size: 11px; }

.media-grid .post .post-body {
  padding: 4px 8px;
  border: 1px solid #eee; }
  .media-grid .post .post-body .post-content {
    display: flex;
    justify-content: space-between; }

/*--------------------------------------
[TopBar]
*/
.top-bar {
  display: flex;
  justify-content: space-between;
  background: var(--color-bg-secondary); }

/*--------------------------------------
[Edit/Create Post or Page]
*/
.post-excerpt {
  display: block;
  height: 80px; }

.featured-image {
  margin: -20px; }
  .featured-image .btn {
    margin-top: -50px; }

/* Tell Quill not to scroll */
#editor {
  height: auto;
  min-height: 300px;
  padding: 0px;
  border: none;
  font-family: inherit; }

#editor .ql-editor {
  overflow-y: visible;
  padding: 12px 0px;
  min-height: 280px; }

.ql-container {
  font-size: 14px; }

#quill-container .ql-toolbar {
  opacity: 0.2; }

#quill-container .ql-toolbar:hover {
  opacity: 1; }

/* Specify our own scrolling container */
#quill-container {
  height: 100%;
  min-height: 100%;
  overflow-y: auto; }

/* Publish buttons */
.btn-group-justified .btn-item {
  padding-left: 2px;
  padding-right: 2px; }

/* Tags Input */
div.ReactTags__tags {
  position: relative; }

/* Styles for the input */
div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: block; }

div.ReactTags__tagInput input,
div.ReactTags__tagInput input:focus {
  margin: 0;
  width: 100%;
  border: none;
  padding: 8px 0px 10px;
  display: block; }

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 0px 8px;
  margin-right: 4px;
  cursor: move;
  border-radius: 2px; }

div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
  font-size: 14px; }

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  z-index: 10; }

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 220px;
  padding: 0;
  margin: 0; }

div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 8px 4px;
  margin: 0; }

div.ReactTags__suggestions li mark {
  padding: 0 0 0 0.4em;
  background: transparent; }

li.ReactTags__activeSuggestion {
  background: #eaeaea;
  cursor: pointer; }

/* Tags input end */
/*Theme customization*/
.theme-customizer .swatch {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: block;
  cursor: pointer; }

.theme-customizer .popover {
  position: absolute;
  z-index: 2; }

.theme-customizer .cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }

/* Table */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 12px 8px;
  border-top: none; }

.table > thead tr > th {
  color: var(--color-text-secondary);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500; }

tr td:first-child,
tr th:first-child {
  padding-left: 0px !important; }

/*Media*/
.table.media-table td {
  vertical-align: middle; }

.table.media-table .media-image {
  object-fit: cover;
  width: 80px;
  height: 80px; }

/*!------------------------------------------------------------------
[Post Filters]
*/
.post-filters {
  text-transform: uppercase;
  font-size: 12px;
  color: #afafaf; }
  .post-filters .filter-item:not(:last-child):after {
    content: "|";
    margin: 0px 10px;
    color: #afafaf; }
  .post-filters .filter-item {
    transition: 0.3s all linear;
    cursor: pointer; }
    .post-filters .filter-item.active {
      font-weight: 600;
      color: var(--color-text-secondary); }

.navbar-custom .nav-list li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #2d2d2d !important;
  color: var(--color-menu-link);
  border-left: 4px solid transparent; }

.navbar-custom .nav-list li.active a {
  border-left: 4px solid var(--color-accent); }

.navbar-custom .nav-list > li > a {
  color: var(--color-menu-link);
  font-size: 14px;
  padding-left: 13px !important;
  border-bottom: 1px solid #2e2e2e; }

.navbar-custom .nav-list > li a:hover {
  border-left: 4px solid var(--color-accent); }

.navbar-custom .nav-list a span {
  margin-left: 20px; }

.navbar-custom .nav-list .menu-icon {
  margin-top: 4px; }

.navbar-custom .nav-list li.has-sub li a {
  padding-left: 34px !important; }

/*----------------------------------------------
[Themes]
*/
#cp-css .cp-swatch {
  padding: 5px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer; }
  #cp-css .cp-swatch .color-box {
    width: 26px;
    height: 14px; }

#cp-css .cp-popover {
  position: absolute;
  z-index: 2; }

#cp-css .cp-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }

/*--------------------------------------------
[Themes]
*/
.color-blocks .custom-label {
  display: flex;
  justify-content: space-between; }

.color-blocks .text-muted {
  line-height: 20px;
  font-size: 12px;
  min-height: 42px; }

/*--------------------------------------------
[Menu Construction]
*/
.listing i.fa {
  margin-right: 8px;
  color: var(--color-text-primary-light); }

/*--------------------------------------------
[Menu Construction]
*/
.nestable-item-name .panel-heading {
  background: #eee;
  border: 1px solid #ddd;
  padding: 12px 16px;
  cursor: pointer; }

.nestable-item-name .panel-collapse {
  border: 1px solid #eee;
  border-top: none; }

.nestable-item-handler:before {
  content: "\F0C9";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000;
  padding-right: 0.5em;
  cursor: move; }

.menu-construct h5 {
  margin-bottom: 8px;
  font-size: 12px; }

.menu-construct .resources.list-group {
  border: 1px solid #e6e5e5;
  max-height: 200px;
  overflow-y: scroll;
  box-shadow: 0 0 10px 0 #f0f0f0;
  width: 300px; }
  .menu-construct .resources.list-group .list-group-item {
    border-left: none;
    border-right: none;
    cursor: pointer; }
    .menu-construct .resources.list-group .list-group-item[disabled] {
      background: #eee;
      cursor: not-allowed;
      color: #919191; }
    .menu-construct .resources.list-group .list-group-item:first-child {
      border-top: none; }
    .menu-construct .resources.list-group .list-group-item:last-child {
      border-bottom: none; }
