@import url("./theme-variables.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,400&family=Roboto+Mono&display=swap");
@import "./prism.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.6/tippy.min.css";

body {
  font-family: "Merriweather", serif;
  background: transparent;
  line-height: 1.8;
  font-size: 1.2em;
  overflow-x: hidden;
  color: rgba(var(--color), 0.7);
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(var(--color), 0.8);
}
pre {
  font-size: 0.7em;
  font-family: "Roboto Mono", monospace !important;
  /* background: rgba(var(--section-bg), 1) !important; */
  padding: 0.8rem !important;
  opacity: 0.9;
}
pre code {
  background-color: initial;
}
figure {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
figure img {
  max-width: 100%;
  height: auto;
}
figure figcaption {
  font-size: 0.8rem;
  text-align: center;
}
a {
  color: rgb(var(--accent));
  text-decoration: none;
}

[data-mce-selected="inline-boundary"] {
  color: initial;
}
blockquote {
  margin: 20px 0px;
  padding: 0.4rem 1rem;
  border-left: 3px solid rgb(var(--accent));
  line-height: 1.6;
  position: relative;
}
blockquote p {
  margin: 0px;
}
.highlight {
  color: rgb(221, 79, 79);
}

.mark {
  background: #999d75;
  cursor: pointer;
}
.mark.typographical {
  background: #ba8dbb;
  color: #111;
}
.mark.misspelling {
  background: #999d75;
  color: #111;
}
.mark.duplication {
  background: rgb(161, 170, 209);
  color: #111;
}
.mark.grammar {
  background: #a7d391;
  color: #111;
}
.mark.style {
  background: rgb(144, 163, 202);
  color: #111;
}
.mark {
  /* text-decoration: underline; */
  padding: 0 6px;
  font-size: 90%;
  border-radius: 4px;
  border-bottom: 1px solid #111;
}

.tippy-content {
  color: #333;
  background: rgb(250, 250, 250);
  border: 1px solid rgba(var(--color-border), 0.2);
  padding: 0px;
  border-radius: 4px;
}
.tippy-content * {
  margin: 0px;
  padding: 0px;
}
.tippy-content .heading {
  text-transform: capitalize;
}
.tippy-content ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 12px 0px;
  cursor: pointer;
}
.tippy-content .issue-type {
  margin: 0px;
  /* background: #eee; */
  padding: 6px 8px;
  text-transform: capitalize;
  font-weight: 500;
}
.tippy-content .message {
  margin-bottom: 6px;
  opacity: 0.8;
  font-weight: 400;
  font-size: small;
}
.tippy-content .description {
  opacity: 0.8;
  font-weight: 400;
  font-size: small;
}
.tippy-content .content-area {
  padding: 6px 8px;
}

.tippy-content .footer {
  padding: 6px;
  font-size: small;
  color: #c20f0f;
  border-top: 1px solid #eee;
}
.tippy-content .footer span {
  cursor: pointer;
}
.tippy-content .suggestion-list li {
  color: rgb(69, 163, 218);
}
code {
  font-size: inherit;
  font-family: inherit;
  font-size: 90%;
  font-family: inherit;
  background: rgba(var(--color-border), 0.2);
  padding: 3px 6px;
  border-radius: 6px;
  color: #ad29c8;
}
.mce-offscreen-selection {
  display: none;
}
