/* Few variables are not taken care by antd. Lets take care of them here. */

html .light {
  --sidebar-bg: #141418;
  --content-bg: rgb(243, 243, 243);
  --section-bg: #fff;
}

html .dark {
  --sidebar-bg: #141418;
  --content-bg: #15161a;
  --section-bg: #1b1b22;
}

html .ant-layout,
body {
  background: var(--content-bg) !important;
}
html .ant-layout-sider,
html .ant-menu {
  background: var(--sidebar-bg) !important;
}
.site-layout-background {
  background: var(--section-bg);
  min-height: calc(100vh - 216px);
}
.dark .ant-layout-footer {
  background: var(--content-bg);
}
.ant-table td,
.ant-table tr,
.ant-table th {
  background: var(--section-bg) !important;
}
.ant-collapse * {
  background: var(--section-bg) !important;
}
.ant-collapse:not(:last-child) > .ant-collapse-item {
  border-bottom: none !important;
}
