@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-class {
    @apply border border-gray-200 bg-white py-2 px-4 text-sm font-medium text-blue-700 hover:bg-gray-100 focus:z-10 focus:text-blue-700 focus:ring-2 focus:ring-blue-700 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600 dark:hover:text-white dark:focus:text-white dark:focus:ring-blue-500;
  }
  .icon-class-1 {
    @apply py-2 px-4 hover:text-blue-400;
  }
  .button {
    @apply rounded-md px-2 py-1 text-center text-sm font-medium focus:outline-none focus:ring-4 focus:ring-blue-300;
  }
  .btn-success {
    @apply bg-green-700 text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300  dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
  }
  .creatives-cta {
    @apply mr-2 mb-2 rounded-md bg-blue-700 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }

  /* client */
  .button-primary {
    @apply rounded-sm bg-gray-800 px-4 py-3 leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-gray-700 hover:shadow-lg focus:bg-gray-900 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg;
  }
  .creatives-cta {
    @apply mr-2 mb-2 rounded-md bg-blue-700 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }
  .content {
    @apply mx-auto max-w-[860px] sm:px-4 md:px-0;
  }
  .highlight-speech {
    @apply rounded-md bg-slate-200 dark:bg-slate-800;
  }
 
  /* creatives */
  .dots {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}