@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-class {
    @apply border border-gray-200 bg-white py-2 px-4 text-sm font-medium text-blue-700 hover:bg-gray-100 focus:z-10 focus:text-blue-700 focus:ring-2 focus:ring-blue-700 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600 dark:hover:text-white dark:focus:text-white dark:focus:ring-blue-500;
  }
  .icon-class-1 {
    @apply py-2 px-4 hover:text-blue-400;
  }
  .button {
    .your-class {
      @apply rounded-md px-2 py-1 text-center text-sm font-medium focus:outline-none focus:ring-4 focus:ring-blue-300;
    }
  }
  .btn-success {
    @apply bg-green-700 text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300  dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
  }
  .creatives-cta {
    @apply mr-2 mb-2 rounded-md bg-blue-700 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }

  /* client */
  .button-primary {
    @apply rounded-sm bg-gray-800 px-4 py-3 leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-gray-700 hover:shadow-lg focus:bg-gray-900 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg;
  }
  .creatives-cta {
    @apply mr-2 mb-2 rounded-md bg-blue-700 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }
  .content {
    @apply mx-auto max-w-3xl sm:px-4 md:px-0;
  }
  .highlight-speech {
    @apply rounded-md bg-slate-200 dark:bg-slate-800;
  }
 
  /* creatives */
  .dots {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 100% 100%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 217.2 46% 12%;
    --foreground: 210 40% 98%;

    --card: 219.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 219.2 44% 14.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 219.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 20.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 0 0% 0%;
  }
}
