ul.nav {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1px;
}
.navbar-custom {
    .nav-list li a {
        text-decoration: none;
        display: block;
        padding: 10px;
        cursor: pointer;
        color: var(--color-menu-link);
    }
    .nav-list li.active a {
    }
    .nav-list > li > a {
        color: var(--color-menu-link);
        padding-left: 13px !important;
    }
    .nav-list > li a:hover {
        border-left: 0px solid var(--color-accent);
    }
    .nav-list a span {
        margin-left: 20px;
    }
    .nav-list .menu-icon {
        margin-top: 4px;
    }
    .nav-list li.has-sub li a {
        padding-left: 34px !important;
    }
    .nav-list li.has-sub {
        &.open > a:after {
            content: "\f068";
        }
        > a:after {
            content: "\f067";
            position: relative;
            font-family: "FontAwesome";
            float: right;
            margin-right: 16px;
        }
    }
}
