.card__line {
  position: absolute;
  animation: 1s 0s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  opacity: 1;
}
.card__line_left {
  animation-name: to-top;
  background: linear-gradient(to bottom, #db770c, transparent);
  left: 0;
  bottom: 0%;
  /* bottom: -100%; */
  width: 0.2em;
  height: 5%;
}
.card__line_top {
  animation-delay: 0s;
  animation-name: to-right;
  background: linear-gradient(to right, transparent, #c2daff);
  width: 25%;
  height: 0.2em;
  top: 0;
  left: 0%;
  /* left: -100%; */
}
.card__line_right {
  animation-name: to-bottom;
  animation-delay: 0s;
  background: linear-gradient(to bottom, transparent, #aed5ff);
  right: 0%;
  top: 0%;
  width: 0.2em;
  height: 5%;
}

.card__line_bottom {
  animation-delay: 12s;
  animation-name: to-left;
  background: linear-gradient(to right, #f41cd3, transparent);
  bottom: 0;
  right: 0%;
  /* right: -100%; */
  width: 5%;
  height: 0.2em;
}

@keyframes to-top {
  to {
    bottom: 95%;
    opacity: 0.6;
  }
}
@keyframes to-bottom {
  to {
    top: 85%;
    opacity: 0.7;
  }
}
@keyframes to-left {
  to {
    right: 95%;
  }
}
@keyframes to-right {
  to {
    left: 55%;
  }
  100% {
    opacity: 0.5;
  }
}
