.theme-item {
    margin: 8px 0px;
    &.active {
        border: 5px solid var(--color-accent);
    }
    .theme-thumbnail {
        .theme-image {
            height: 180px;
            object-fit: cover;
            width: 100%;
        }
    }
    .theme-header {
        background: #eee;
        border: 1px solid #ddd;
        padding: 12px;

        .theme-name {
            font-weight: 600;
        }
    }
}
