/*!------------------------------------------------------------------
[Buttons]
*/

.btn {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 11px;
    padding: 9px 28px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 0;
}

.btn-danger-invert {
    background: #fff;
    color: #d9534e;
}

.btn-dark,
.btn-dark:focus {
    background: rgba(17, 17, 17, 1);
    color: #fff;
}

.btn-dark:hover {
    background: rgba(17, 17, 17, 0.8);
    color: #fff;
}

.btn-blue,
.btn-blue:focus {
    background: $link_active;
    color: #fff;
}

.btn-blue:hover {
    background: $link_hover;
    color: #fff;
}

.btn-white,
.btn-white:focus {
    color: #fefefe;
    border: 1px solid #50353a;
    background: #50353a;
}

.btn-white:hover {
    background: #d7d7d7;
    color: #242424;
}

/*! Button types */

.btn.btn-round {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.btn.btn-circle {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

/*! Button sizes */

.btn.btn-lg {
    letter-spacing: 3px;
    font-size: 12px;
    padding: 12px 45px;
}

.btn.btn-sm {
    letter-spacing: 1px;
    font-size: 10px;
    padding: 6px 25px;
}

.btn.btn-xs {
    letter-spacing: 1px;
    font-size: 9px;
    padding: 4px 19px;
}

/*!------------------------------------------------------------------
[Button Together]
*/

.btn-together {
    display: flex;
    .btn-item:not(:first-child) {
        margin-left: 4px;
    }
}

/*!------------------------------------------------------------------
[Publish Buttons]
*/

.btn-group-justified .btn-item {
    padding-left: 2px;
    padding-right: 2px;
}
