/*!------------------------------------------------------------------
[Switch]
*/

.switch-block {
    display: flex;
    align-items: center;
    .switch {
        margin: 0 20px;
    }
    .switch-label {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 500;
        color: var(--color-text-primary)-light;
        transition: 0.2s color linear;
    }
    &.on .switch-on-text {
        color: var(--color-text-secondary);
    }
    &.off .switch-off-text {
        color: var(--color-text-secondary);
    }
}

/*!------------------------------------------------------------------
[Sliders]
*/

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 12px;

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: -6px;
            bottom: -3px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
        }
        &.round {
            border-radius: 34px;
            &:before {
                border-radius: 50%;
            }
        }
    }

    input {
        display: none;

        &:checked + .slider {
            background-color: var(--color-accent);
        }
        &:focus + .slider {
            box-shadow: 0 0 1px var(--color-accent);
        }
        &:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }
}

@media (max-width: 991px) {
    .slides-container .hero-caption {
        padding-right: 0;
    }
}
