# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
dist
# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.production.local

# vercel
.vercel

*.d.ts
!src/page.d.ts
!src/graphqls.d.ts

__generated__/*
data/*
.env
.env.production.local
.bin
# Sentry
.sentryclirc

# Sentry
.sentryclirc

# Sentry
.sentryclirc
/.vscode/
generated
.cache
prisma/sqlite/data
.vscode

public/css/custom.css

__generated__/*
__generated__server/*