.navbar-custom {
    .nav-list li a {
        text-decoration: none;
        display: block;
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid #2d2d2d !important;
        color: var(--color-menu-link);
        border-left: 4px solid transparent;
    }
    .nav-list li.active a {
        border-left: 4px solid var(--color-accent);
    }
    .nav-list > li > a {
        color: var(--color-menu-link);
        font-size: 14px;
        padding-left: 13px !important;
        border-bottom: 1px solid #2e2e2e;
    }
    .nav-list > li a:hover {
        border-left: 4px solid var(--color-accent);
    }
    .nav-list a span {
        margin-left: 20px;
    }
    .nav-list .menu-icon {
        margin-top: 4px;
    }
    .nav-list li.has-sub li a {
        padding-left: 34px !important;
    }
    #menutree {
        max-height: calc(100vh - 210px);
        overflow: scroll;
    }
}
