.distract-free {
    .distractor {
        display: none !important;
    }
    .wrapper {
        margin: 0px;
    }
    .article-holder {
        position: absolute;
        left: 50%;
        width: 1000px;
        margin-left: -500px;
    }
    .top-bar {
        width: 100%;
    }
    @media screen and (max-width: 1000px) {
        .article-holder {
            width: 100%;
            left: 0px;
            margin: 0px;
            padding: 0px;
        }
    }
}

/*--------------------------------------
[Edit/Create Post or Page]
*/
.post-title {
    margin: 0px;
}
.post-excerpt {
    display: block;
    min-height: 80px;
}
#md-post,
#md-preview {
    min-height: 100vh;
    margin-top: 16px;
}
.featured-image {
    img {
        object-fit: cover;
        height: 100%;
    }
    .btn {
        margin-top: -48px;
    }
    height: 200px;
}
.file-explorer .post-thumbnail img {
    height: 100px;
    object-fit: cover;
    overflow: hidden;
}

.action-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.article-holder {
    .post-header {
        display: flex;
        justify-content: space-between;
    }
}

.post-grid .post {
    margin-bottom: 0px;
    box-shadow: -2px 2px 14px -2px #ccc;
}

/*!------------------------------------------------------------------
[Post Options]
*/

.edit-post-page,
.create-post-page {
    .column.distractor {
        display: none;
    }
    &.options-open {
        .column.distractor {
            display: block;
        }
    }
    &.distract-free {
        .post-options {
            display: none !important;
        }
    }
    .post-options,
    .full-screen {
        display: block !important;
    }
}

/*!------------------------------------------------------------------
[Post Filters]
*/

.post-filters {
    text-transform: uppercase;
    font-size: 12px;
    color: #afafaf;
    .filter-item:not(:last-child):after {
        content: "|";
        margin: 0px 10px;
        color: #afafaf;
    }
    .filter-item {
        transition: 0.3s all linear;
        cursor: pointer;
        &.active {
            font-weight: 600;
            color: var(--color-text-secondary);
        }
    }
}
