.edit-author-page {
    .avatar-wrapper {
        display: flex;
        align-items: center;
        margin-top: 8px;
        .avatar-image {
            width: 60px;
            height: 60px;
            margin-right: 16px;
            img {
                object-fit: cover;
                border-radius: 50px;
                width: 100%;
                height: 100%;
                border: 2px solid #eee;
            }
        }
    }
}
