/*Media*/

.table.media-table {
    td {
        vertical-align: middle;
    }
    .media-image {
        object-fit: cover;
        width: 80px;
        height: 80px;
    }
}

.modal {
    .post {
        border: 4px solid transparent;
        cursor: pointer;
        &:hover {
            border: 4px solid #d5d5d6;
        }
    }
    .post.selected {
        border: 4px solid #d5d5d6;
    }
}
.media-grid .post {
    .post-header {
        margin: 0px;
        font-size: 12px;
    }
    .post-time {
        font-size: 11px;
    }
    .post-body {
        padding: 4px 8px;
        border: 1px solid #eee;
        .post-content {
            display: flex;
            justify-content: space-between;
        }
    }
}
