/*!------------------------------------------------------------------
[Navbar]
*/
.navbar {
    border-radius: 0px;
}
ul.nav {
    font-weight: 400;
    letter-spacing: 1px;
    .dropdown-menu {
        border-radius: 0px;
        margin-top: -2px;
    }
    .dropdown-submenu {
        &:hover {
            > .dropdown-menu {
                margin-top: -6px;
                box-shadow: none;
            }
        }
    }
}
.navbar-custom {
    .nav-list {
        li {
            a {
                text-decoration: none;
                display: block;
                padding: 5px 10px;
                cursor: pointer;
                color: var(--color-menu-link);
            }
        }
        li.active {
            a {
                color: var(--link-hover);
            }
        }
        > li {
            > a {
                color: var(--color-menu-link);
                padding-left: 13px !important;
            }
            a {
                &:hover {
                    border-left: 0px solid var(--color-accent);
                    color: var(--link-hover);
                }
            }
        }
        a {
            span {
                margin-left: 20px;
            }
        }
        .menu-icon {
            margin-top: 4px;
        }
    }
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    .navbar-brand {
        font-weight: 600;
        font-size: 23px;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: table-cell;
        vertical-align: middle;
        float: none;
        height: 70px;
        padding-top: 0;
        padding-bottom: 0;
        color: var(--color-text-primary);
        width: 100vw;
        small {
            display: block;
            font-size: 12px;
            font-family: "Source Sans Pro", sans-serif;
        }
    }
    li {
        > a {
            color: var(--color-menu-link);
        }
    }
    .dropdown-menu {
        li {
            > a {
                color: var(--color-menu-link);
            }
        }
        background: rgba(26, 26, 26, 0.9);
        border: 0;
        padding: 5px 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        > li {
            > a {
                &:hover {
                    background: transparent;
                    color: var(--color-accent);
                }
                &:focus {
                    background: transparent;
                    color: var(--color-accent);
                }
            }
        }
    }
    .nav {
        > li {
            > a {
                background: transparent;
                &:hover {
                    background: transparent;
                    color: #000;
                }
                &:focus {
                    background: transparent;
                    border-color: transparent;
                }
            }
            > a.accordian-heading {
                font-weight: 600;
                color: #000;
                margin-top: 10px;
            }
        }
    }
    .navbar-toggle {
        padding: 0;
        margin: 27px 15px 0 0;
        .icon-bar {
            background: #fff;
        }
    }
    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0px 0 0px 20px;
        i {
            width: 12px;
        }
        .menu-icon {
            margin-left: -20px;
            margin-top: 6px;
            font-size: 12px;
            color: var(--color-accent);
        }
        > li.item {
            a {
                margin-left: 10px;
            }
        }
        ul {
            list-style: none;
        }
        .parent {
            padding-bottom: 4px;
        }
    }
    .navbar-collapse {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
        -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);

        height: calc(100vh - 250px);
        overflow-y: scroll;
    }
}
@media (min-width: 992px) {
    .navbar-custom {
        .navbar-header {
            float: none;
            margin: 0 0 10px;
            padding: 10px 20px 0;
        }
        .navbar-nav {
            float: none;
            li {
                float: none;
            }
        }
        li {
            > a {
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
        .dropdown-menu {
            li {
                > a {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
            top: -5px;
            left: 100%;
            min-width: 200px;
        }
        li.dropdown {
            > a {
                &:after {
                    position: absolute;
                    display: block;
                    right: 35px;
                    top: 50%;
                    margin-top: -6px;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: 10px;
                    content: "\f105";
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
        }
        .navbar-collapse {
            padding-left: 0;
            padding-right: 0;
            box-shadow: none;
        }
    }
}
@media (max-width: 991px) {
    .navbar-custom {
        li {
            > a {
                -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
                -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
                -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
            }
        }
        .navbar-nav {
            .open {
                .dropdown-menu {
                    > li {
                        > a {
                            padding: 10px 15px 10px 25px;
                        }
                    }
                    .dropdown-header {
                        padding: 10px 15px 10px 25px;
                    }
                }
            }
        }
    }
    .navbar-nav {
        > li {
            > .dropdown-menu {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}

/* Always display the sidebar collapse icon*/
.navbar-toggle {
    display: block;
}

.navbar-custom .navbar-header {
    float: none;
    margin: 0 0 10px;
}
.navbar-custom .nav-list > li > a {
    box-shadow: none;
}
.navbar-custom .navbar-collapse {
    box-shadow: none;
}
.navbar-custom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
main {
    background: #fff;
}
