@import url("./theme-variables.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,400&family=Roboto+Mono&display=swap");
@import "./prism.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.6/tippy.min.css";
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700&display=swap");
body {
  font-family: "Source Serif Pro", serif;
  background: transparent;
  line-height: 1.8;
  font-size: 1.2rem;
  overflow-x: hidden;
  color: rgba(var(--color), 0.7);
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(var(--color), 0.7);
}
.dark p {
  font-weight: 300;
}

h1 {
  font-size: 2.1rem;
  text-align: left;
  margin-bottom: 8px;
  line-height: 3rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0;
  margin: 36px 0 -13px -1.883px;
  text-align: left;
  line-height: 2.5rem;
  letter-spacing: -0.45px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 8px;
    line-height: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

p,
i,
a {
  margin-top: 21px;
  line-height: 1.5;
}
pre {
  font-size: 0.7em;
  font-family: "Roboto Mono", monospace !important;
  /* background: rgba(var(--section-bg), 1) !important; */
  padding: 0.8rem !important;
  opacity: 0.9;
}
pre code {
  background-color: initial;
}
figure {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
figure img {
  max-width: 100%;
  height: auto;
}
figure figcaption {
  font-size: 0.8rem;
  text-align: center;
  padding: 5px 0;
  width: 100%;
}
figcaption a {
  font-size: 0.8rem;
  color: rgb(var(--accent)) !important;
  font-family: inherit;
}

a {
  color: rgb(var(--accent));
  text-decoration: none;
}

[data-mce-selected="inline-boundary"] {
  /* color: initial; */
}
blockquote {
  margin: 20px 0px;
  padding: 0.4rem 1rem;
  border-left: 3px solid rgb(var(--accent));
  line-height: 1.6;
  position: relative;
}
blockquote p {
  margin: 0px;
}
.highlight {
  color: rgb(221, 79, 79);
}

/* .mark.typographical {
  background: #e0a7e1;
  color: #111;
}
.mark.misspelling {
  background: #ebeca8;
  color: #111;
}
.mark.duplication {
  background: rgb(161, 170, 209);
  color: #111;
}
.mark.grammar {
  background: #a7d391;
  color: #111;
} */
/* .mark.style {
  background: #9dc9f2;
  color: #111;
} */
.mark {
  /* text-decoration: underline; */
  cursor: pointer;
  border-bottom: 3px solid #d932c0;
}

.tippy-content {
  color: #333;
  background: rgb(250, 250, 250);
  border: 1px solid rgba(var(--color-border), 0.2);
  padding: 0px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 10%) 0 2px 10px;
}
.tippy-box.tippy-arrow:before {
  color: #fff;
}

.tippy-content * {
  margin: 0px;
  padding: 0px;
}
.tippy-content .heading {
  text-transform: capitalize;
}
.tippy-content ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 12px 0px;
  cursor: pointer;
}
.tippy-content .issue-type {
  margin: 0px;
  /* background: #eee; */
  padding: 6px 8px;
  text-transform: capitalize;
  font-weight: 500;
}
.tippy-content .message {
  margin-bottom: 6px;
  opacity: 0.8;
  font-weight: 400;
  font-size: small;
}
.tippy-content .description {
  opacity: 0.8;
  font-weight: 400;
  font-size: small;
}
.tippy-content .content-area {
  padding: 6px 8px;
}

.tippy-content .footer {
  padding: 6px;
  font-size: small;
  color: #c20f0f;
  border-top: 1px solid #eee;
}
.tippy-content .footer span {
  cursor: pointer;
}
.tippy-content .suggestion-list li {
  color: rgb(69, 163, 218);
}
.dark code {
  color: #88cead;
}
code {
  font-family: inherit;
  background: #4eaa3730;
  padding: 2px 4px;
  border-radius: 6px;
  color: #3b7157;
}
.mce-offscreen-selection {
  display: none;
}
figure img {
  cursor: pointer;
}

hr {
  border: 1px solid rgb(var(--color-border));
}
h2 + figure {
  margin-top: 1.4rem !important;
}
