[data-color-scheme="dark"] {
  color-scheme: dark;
}

[data-color-scheme="light"] {
  color-scheme: light;
}
html:not(.prose):not(.home),
body:not(.prose):not(.home) {
  padding: 0;
  margin: 0;
  /* font-family: var(--font-source-serif-4); */
  color: rgba(var(--color), 0.8);
  min-height: 100vh;
  padding: 0px;
}

html.no-transitions * {
  animation-duration: 0s !important;
}

a {
  text-decoration: none;
}

*:not(.tox *, .prose *) {
  box-sizing: border-box;
  border-color: hsl(var(--border)) !important;
}
.tox * {
  border-color: #48586a !important;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px #29d,
    0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

table tr {
  cursor: pointer;
}

body .editor {
  font-size: 1.2rem;
  line-height: 1.8;
  padding-bottom: 30vh;
}

select {
  padding: 4px;
  background: rgb(var(--content-bg));
  border: 1px solid rgb(var(--color-border));
  cursor: pointer;
}
.help-text {
  color: rgba(var(--color), 0.8);
}

.site-page-header {
  border-bottom: 1px solid rgba(var(--color-border), 0.5);
}
.btn-primary,
.btn-primary-big {
  background: #3b7eeb !important;
  color: #ffffff !important;
  padding: 10px 12px;
  border-radius: 8px;
}

.btn-primary:hover,
.btn-primary-big:hover {
  background: #316dce !important;
  color: #ffffff !important;
}

.btn-primary-big {
  padding: 14px 18px;
  border-radius: 8px;
}

@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: 0.2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: 0.2;
  }
}
.saving {
  display: flex;
  gap: 4px;
}
.saving span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: rgb(244, 70, 70);
}

.saving span:nth-child(2) {
  animation-delay: 0.2s;
  background-color: rgb(20, 158, 20);
}

.saving span:nth-child(3) {
  animation-delay: 0.4s;
  background: rgb(183, 180, 11);
}
