code[class*="language-"],
pre[class*="language-"] {
  color: #eee;
  background: #282a36;
  text-shadow: none;
  font-size: small;
}
.token.cdata,
.token.comment,
.token.prolog {
  color: #637777;
  font-style: italic;
}

.token.punctuation {
  color: #c792ea;
}

.namespace {
  color: #b2ccd6;
}

.token.deleted {
  color: rgba(239, 83, 80, 0.56);
  font-style: italic;
}

.token.property,
.token.symbol {
  color: #80cbc4;
}

.token.keyword,
.token.operator,
.token.tag {
  color: #7fdbca;
  background: none;
}

.token.boolean {
  color: #ff5874;
}

.token.number {
  color: #f78c6c;
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: #82aaff;
}

.token.doctype,
.token.selector {
  color: #c792ea;
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: #addb67;
  font-style: italic;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.string,
.token.url {
  color: #addb67;
}

.token.atrule,
.token.attr-value,
.token.class-name {
  color: #ffcb8b;
}

.token.important,
.token.regex,
.token.variable {
  color: #d6deeb;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.table {
  display: inline;
}
