/* Few variables are not taken care by antd. Lets take care of them here. */

html .light {
  --sidebar-bg: 20, 20, 24;
  --content-bg: 255, 255, 255;
  --section-bg: 250, 250, 250;
  --accent: 14, 114, 207;
  --color: 29, 29, 32;
  --color-border: 217, 217, 217;
}

html .dark {
  --sidebar-bg: 20, 20, 24;
  --content-bg: 21, 22, 26;
  --section-bg: 27, 27, 34;
  --color-border: 42, 46, 62; /* this variable is not availabe in the light theme*/
  --accent: 14, 114, 207;
  --color: 255, 255, 255;
}

html .ant-layout,
body {
  background: rgb(var(--content-bg)) !important;
}

.site-layout-background {
  background: rgb(var(--section-bg));
  height: calc(100vh - 214px);
  overflow-y: auto;
  overflow-x: hidden;
}
.dark .ant-layout-footer {
  background: rgb(var(--content-bg));
}
.ant-table td,
.ant-table tr,
.ant-table th {
  background: rgb(var(--section-bg)) !important;
}

.ant-collapse:not(:last-child) > .ant-collapse-item {
  border-bottom: none !important;
}
