.navbar-nav1 {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background: #333;
    }

    ul li {
        display: block;
        position: relative;
        float: left;
        background: #333;
    }
    li ul {
        display: none;
    }

    ul li a {
        display: block;
        padding: 1em;
        text-decoration: none;
        white-space: nowrap;
        color: #fff;
    }

    ul li a:hover {
        background: #2c3e50;
    }

    li:hover > ul {
        display: block;
        position: absolute;
    }

    li:hover li {
        float: none;
    }

    li:hover a {
        background: tranli;
        color: #fff;
    }

    li:hover li a:hover {
        background: #2c3e50;
    }

    .main-navigation li ul li {
        border-top: 0;
    }

    ul ul ul {
        left: 100%;
        top: 0;
    }
    ul:before,
    ul:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    ul:after {
        clear: both;
    }
}

.main-navigation1 {
    z-index: 999;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        /* background: #1bc2a2; */
    }

    ul li {
        display: block;
        position: relative;
        float: left;
        /* background: #1bc2a2; */
    }

    /* This hides the dropdowns */

    li ul {
        display: none;
    }

    ul li a {
        display: block;
        padding: 1em;
        text-decoration: none;
        white-space: nowrap;
        color: #fff;
    }

    ul li a:hover {
        background: #2c3e50;
    }

    /* Display the dropdown */

    li:hover > ul {
        display: block;
        position: absolute;
    }

    li:hover li {
        float: none;
    }

    li:hover a {
        background: #000;
    }

    li:hover li a:hover {
        background: #2c3e50;
    }

    li ul li {
        border-top: 0;
    }

    /* Displays second level dropdowns to the right of the first level dropdown */

    ul ul ul {
        left: 100%;
        top: 0;
    }

    /* Simple clearfix */

    ul:before,
    ul:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    ul:after {
        clear: both;
    }
}
.navbar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navbar-brand {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: 18px;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-toggle {
    padding: 10px;
    font-size: 14px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-toggl-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background: no-repeat center center;
    background-size: 100% 100%;
}

@media (min-width: 992px) {
    .navbar-toggle {
        display: none;
    }
}
