@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Bowlby+One+SC&family=Bungee+Inline&family=Caveat:wght@500;700&family=Germania+One&family=Knewave&family=Major+Mono+Display&family=Merriweather:ital,wght@0,400;0,700;0,900;1,700&family=Nanum+Pen+Script&family=Niconne&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,400;0,500;0,800;1,500&family=Roboto:wght@400;500;900&family=Skranji&family=Spectral:ital,wght@0,400;0,500;0,700;0,800;1,500;1,700&display=swap&family=Farsan&family=Potta+One&family=Metal+Mania');

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,800;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,400&family=Roboto+Mono&display=swap&family=Lato&display=swap&family=Niconne&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(var(--color), 0.8);
}

#creative h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 8px;
  font-weight: 900;
}

#creative h2 {
  font-size: 3rem;
  line-height: 1;
}

#creative p,
#creative i,
#creative a {
  margin-top: 21px;
  /* font-family: "Lora"; */
  font-size: 1.2rem;
  letter-spacing: -0.03px;
  line-height: 1.5;
}
a {
  color: rgb(var(--accent));
  text-decoration: none;
}

#creative blockquote {
  margin: 20px 0px;
  padding: 2rem 1rem;
  line-height: 1.1;
  position: relative;
}
#creative blockquote p {
  line-height: 1.3;
}

#creative blockquote:before {
  content: '';
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 35%;
  bottom: auto;
  left: 35%;
  height: 3px;
  background-color: rgba(227, 225, 223, 0.9);
}
#creative blockquote:after {
  content: '';
  display: inline-block;
  z-index: 2;
  position: absolute;
  top: auto;
  right: 35%;
  bottom: 0px;
  left: 35%;
  height: 3px;
  background-color: rgba(227, 225, 223, 0.9);
}

#creative blockquote p {
  margin: 0px;
  font-family: 'Niconne', cursive;
  font-size: 2.5rem;
}

hr {
  border: 1px solid rgb(var(--color-border));
}
