@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,400&family=Roboto+Mono&display=swap&family=Lato&display=swap&family=Niconne&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background: transparent;
  line-height: 1.8;
  font-size: 1.05em;
  overflow-x: hidden;
  color: rgba(var(--color), 0.7);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(var(--color), 0.8);
}

#creative h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 8px;
  font-weight: 900;
}

#creative h2 {
  font-size: 3rem;
  line-height: 1;
}

#creative p,
#creative i,
#creative a {
  margin-top: 21px;
  /* font-family: "Lora"; */
  font-size: 1.2rem;
  letter-spacing: -0.03px;
  line-height: 1.5;
}
a {
  color: rgb(var(--accent));
  text-decoration: none;
}

#creative blockquote {
  margin: 20px 0px;
  padding: 2rem 1rem;
  line-height: 1.1;
  position: relative;
}
#creative blockquote p {
  line-height: 1.3;
}

#creative blockquote:before {
  content: '';
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 35%;
  bottom: auto;
  left: 35%;
  height: 3px;
  background-color: rgba(227, 225, 223, 0.9);
}
#creative blockquote:after {
  content: '';
  display: inline-block;
  z-index: 2;
  position: absolute;
  top: auto;
  right: 35%;
  bottom: 0px;
  left: 35%;
  height: 3px;
  background-color: rgba(227, 225, 223, 0.9);
}

#creative blockquote p {
  margin: 0px;
  font-family: 'Niconne', cursive;
  font-size: 2.5rem;
}

[data-id='image-focussed'] {
  outline: 2px solid #d932c0;
}

hr {
  border: 1px solid rgb(var(--color-border));
}
