@import url('./creative.css');

/* body {
  background: transparent;
  overflow-x: hidden;
  color: rgba(var(--color), 0.7);
  margin: 0;
  word-break: break-word;
}
address {
  font-style: normal;
}
.post {
  font-family: 'Source Serif Pro', serif;
}

.prose h1 {
  font-size: 2.1rem;
  text-align: left;
  margin-bottom: 8px;
  line-height: 3rem;
} */
/* 
.prose h2 {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0;
  margin: 36px 0 -13px -1.883px;
  text-align: left;
  line-height: 2.5rem;
  letter-spacing: -0.45px;
} */

@media only screen and (max-width: 600px) {
  /* .prose h1 {
    font-size: 2rem;
    margin-bottom: 8px;
    line-height: 2.5rem;
  } */
  /* .prose h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.9rem;
  } */
}

/* .prose p,
.prose i,
.prose a {
  margin-top: 21px;
  font-size: 1.2rem;
  line-height: 1.5;
}
.prose pre {
  font-size: 0.7em;
  font-family: 'Roboto Mono', monospace !important;
  padding: 0.8rem !important;
  opacity: 0.9;
}
.prose pre code {
  background-color: initial;
}

@media screen and (max-width: 900px) {
  .post figure {
    margin-left: -24px;
    margin-right: -24px;
  }
} */
/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* .prose :where(pre):not(:where([class~='not-prose'] *)) {
  font-size: 80%;
  max-width: 85vw;
  overflow-y: auto;
}

.prose figcaption {
  text-align: center;
  font-size: 0.9rem;
}
.prose figcaption a {
  font-size: inherit;
  text-decoration: none;
}
.btn-primary,
.btn-primary-big {
  background: #3b7eeb !important;
  color: #ffffff;
  padding: 10px 12px;
  border-radius: 8px;
}

.btn-primary:hover,
.btn-primary-big:hover {
  background: #316dce !important;
  color: #ffffff;
}

.btn-primary-big {
  padding: 14px 18px;
  border-radius: 8px;
}
.prose figure {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.prose h2 + figure {
  margin-top: 1.4rem !important;
} */
