@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Montserrat:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://fonts.googleapis.com/css?family=Inter:100,300,400,500,600,700");
@import url("prism-theme.css");
@import url("react-buttons.min.css");

::placeholder {
  color: var(--base-shade-3) !important;
  font-weight: 400;
  font-size: 0.9rem;
}
