@font-face {
    font-family: "iconfont";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/iconfont.eot");
    src: url("../fonts/iconfont.woff2") format("woff2"),
        url("../fonts/iconfont.woff") format("woff"),
        url("../fonts/iconfont.ttf") format("truetype"),
        url("../fonts/iconfont.svg#iconfont") format("svg"),
        url("../fonts/iconfont.eot#iefix") format("embedded-opentype");
}
