$dark: #232323;
$dark_1: #303030;
$dark_2: #3a3a3a;
$light: #fdfdfd;
$font_body: #818181;
$font_body_dark: #000;
$font_body_medium: rgb(92, 92, 92);
$font_body_light: #aeaeae;
$blue_primary: #2196f3;
$blue_secondary: #1a82d6;
$link_active: $blue_primary;
$link_hover: $blue_secondary;
$border_color: #e5e5e5;
$placeholder: #eeeeee;
$racing_font: "Racing Sans One",
cursive;
// $color-shadow:	rgba($black, .125);
// $color-text-primary:	#818181;
// $color-accent:	$patina;
// $color-background:	$white;
// $color-background-shade:	$iron;
// $color-background-invert:	$hopbush;
// $color-text:	darken($pale-sky, 15);
// $color-text-weak:	$regent-grey;
// $color-text-strong:	$midnight-blue;
// $color-text-heading:	$regent-grey;
// $color-text-invert:	rgba($color-background, .75);
// $color-text-strong-invert:	$color-background;
// $color-text-link:	$color-primary;
// $color-text-link-visited:	$bouquet;
// $color-text-link-hover:	$midnight-blue;
// $color-border:	$iron;