Hello {{ full_name }},

Thanks for choosing Letterpad and trusting us to power all your blog content. 
Your blog is now public and can be accessed on this <a href="{{ blog_url }}" target="_blank">url</a>.

To help you with getting started here are 3 things you should do to make your blog more appealing.

1. Change your username if you do not like the URL of your blog. Refer to <a href="https://docs.letterpad.app/setup/url-of-your-site" target="_blank">this article</a> on how to do so.

2. Change appearance of your blog like site name, tagline, description, favicon, avatar, etc. Refer to <a href="https://docs.letterpad.app/setup/appearance">this article</a> on how to do so.

3. Add social links. Refer to <a href="https://docs.letterpad.app/setup/update-social-links" target="_blank">this article</a> on how to do so.

If you get stuck, feel free to reach out to us as - <a href="mailto:letterpad@ajaxtown.com">Email</a> or simply reply to this email.

Happy Blogging!
Letterpad Team
